{% extends "layout/main.html" %}

{% block content %}

    <link rel="stylesheet" href="/amazeuidatatables/amazeui.datatables.css"/>
    <div class="tpl-content-page-title am-icon-book">
        {{"CoachList"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{"CoachManage"|_}}</li>
        <li class="am-active"><a href="/coach/coachlist" >{{"CoachList"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row">
            <form class="am-form">
                <fieldset>
                    <table class="am-table am-table-striped am-table-hover am-table-compact" id="datatable">
                        <thead>
                        <tr>
                            <th style="width: 15%">照片</th>
                            <th nowrap="">姓名</th>
                            <th nowrap="">性别</th>
                            <th nowrap="">年龄</th>
                            <th nowrap="">驾龄</th>
                            <th nowrap="">评分</th>
                            <th nowrap="">联系方式</th>
                            <th style="width: 15%" nowrap="">评价次数</th>
                            <th style="width: 15%" class="hidden-xs">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for i in coachList%}
                        <tr id="doctor_{{i['coach_id']}}">
                            <td nowrap="">{%if i['coach_photo'] is defined%}<img src="{{i['coach_photo']}}" width="50"/>{%else%}<img src="/client/crash.png "/>{%endif%}</td>
                            <td>{{i['coach_name']}}</td>
                            <td>{%if i['coach_gender']==1%}男{%elseif i['coach_gender']==2%}女{%endif%}</td>
                            <td>{{i['coach_age']}}</td>
                            <td>{{i['coach_seniority']}}</td>
                            <td nowrap="">{{i['coach_score']}}</td>
                            <td>{{i['coach_tel']}}</td>
                            <td nowrap>{{i['evaluate_count']}}次</td>
                            <td nowrap>
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-secondary am-radius" onclick="$('.btn').attr('disabled','disabled');location.href ='/coach/coachhandle?coach_id={{i['coach_id']}}';">{{"Edit"|_}}</button>
                                    <button type="button" class="am-btn am-btn-danger am-radius deleteBtn" data-id="{{i['coach_id']}}">{{"Delete"|_}}</button>
                                </div>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/amazeuidatatables/amazeui.datatables.min.js"></script>
    <script type="text/javascript">
        function deleteCoach(id){
            $('.btn').attr('disabled','disabled');
            $.ajax('/coach/coachdelete', {
                data: {
                    coach_id:id,
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    if (data.code == 0)
                    {
                        $('#doctor_'+id).remove();
                    }else{
                        layer.alert(data.msg, {icon: 2});
                    }
                },
                error: function()
                {
                    layer.alert('服务器错误', {icon: 3});
                },
                complete:function(){
                    $('.btn').removeAttr('disabled');
                }
            });
        }
        jQuery(document).ready(function () {
            "use strict";
            $('.deleteBtn').each(function(){
                $(this).on('click',function(){
                    let me = this;
                    layer.confirm("确定要删除此教练？", function (index) {
                        $('.layui-layer-btn0').css('pointer-events', 'none');
                        layer.close(index);
                        $(me).parent().append('{{image("oss/Images/Icons/Load/load-7.gif" , 'width':'20')}}');
                        deleteCoach($(me).attr('data-id'));
                    });
                });
            });
            $('#datatable').DataTable({
                "iDisplayLength": 10,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            });
            $('.dataTables_length select').attr('data-am-selected', "{btnWidth: '38%', btnSize: 'sm'}");
            $('.dataTables_filter input').attr("placeholder", "搜索");
        });
    </script>

{% endblock %}