{% extends "layout/main.html" %}

{% block content %}

    <link rel="stylesheet" href="/amazeuidatatables/amazeui.datatables.css"/>
    <div class="tpl-content-page-title am-icon-book">
        待处理评分列表
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{"CoachManage"|_}}</li>
        <li class="am-active"><a href="/coach/pending" >待处理评分列表</a></li>
    </ol>
    <div class="tpl-portlet-components" style="overflow: visible">
        <div class="row" style="overflow: visible">
            <div class="portlet-title">
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-inline">
                        <select id="department_id" data-am-selected="{searchBox: 1, maxHeight: 280, btnSize:'sm'}" title="全部教练" onchange="$('.btn').attr('disabled','disabled');$('#department_id').attr('disabled','disabled');location.href='/coach/pending?coach_id='+this.value;">
                            <option value=" ">全部教练</option>
                            {%for i in coachlist%}
                            <option value="{{i['coach_id']}}" {{ filter['coach_id']==i['coach_id'] ? 'selected' : null }}>{{i['coach_name']}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
            </div>
            <form class="am-form">
                <fieldset>
                    <table class="am-table am-table-striped am-table-hover am-table-compact" id="datatable">
                        <thead>
                        <tr>
                            <th nowrap="" style="width: 12%;">姓名</th>
                            <th nowrap="" style="width: 40%;">评价</th>
                            <th nowrap="" style="width: 15%;">评分</th>
                            <th nowrap="" style="width: 18%;">创建时间</th>
                            <th nowrap="" style="width: 15%;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for i in coachPendingList%}
                        <tr id="doctor_{{i['coach_id']}}">
                            <td>{{i['coach_pending_name']}}</td>
                            <td>{{i['coach_pending_evaluate']}}</td>
                            <td>
                                {%if i['coach_pending_score'] > 0 %}
                                {%for index in 1..i['coach_pending_score'] %}
                                <span class="am-icon-star"></span>
                                {%endfor%}
                                {%endif%}
                                {%if 5-i['coach_pending_score'] > 0 %}
                                {%for j in 1..(5-i['coach_pending_score']) %}
                                <span class="am-icon-star-o"></span>
                                {%endfor%}
                                {%endif%}
                            </td>
                            <td>{{date("Y-m-d H:i:s", i['create_at'])}}</td>
                            <td>
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="btn am-btn am-btn-secondary am-radius okBtn" data-id="{{i['coach_pending_id']}}">通过</button>
                                    <button type="button" class="btn am-btn am-btn-danger am-radius deleteBtn" data-id="{{i['coach_pending_id']}}">{{"Delete"|_}}</button>
                                </div>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/amazeuidatatables/amazeui.datatables.min.js"></script>
    <script type="text/javascript">
        function pendingHandle(id_ok,id_delete) {
            var coachid='';
            {%if filter['coach_id'] is defined%}
            coachid={{filter['coach_id']}};
            {%endif%}
            console.log(coachid);
            $('.btn').attr('disabled','disabled');
            $.ajax('/coach/pendinghandle', {
                data: {
                    coach_pending_id_ok:id_ok,
                    coach_pending_id_delete:id_delete,
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    if (data.code == 0)
                    {
                        location.replace('/coach/pending?coach_id='+coachid);
                        $('#doctor_'+id).remove()
                    }else{
                        layer.alert(data.msg, {icon: 2});
                    }
                },
                error: function()
                {
                    layer.alert('服务器错误', {icon: 3});
                },
                complete:function(){
                    $('.btn').removeAttr('disabled');
                }
            });
        }

        jQuery(document).ready(function () {
            "use strict";
            $('.deleteBtn').each(function(){
                $(this).on('click',function(){
                    layer.confirm("确定要删除此评分？", function () {
                        $(this).parent().append('{{image("oss/Images/Icons/Load/load-7.gif" , 'width':'20')}}');
                        pendingHandle('',$(this).attr('data-id'));
                    });
                });
            });
            $('.okBtn').each(function(){
                $(this).on('click',function(){
                    $(this).parent().append('{{image("oss/Images/Icons/Load/load-7.gif" , 'width':'20')}}');
                    pendingHandle($(this).attr('data-id'),'')

                });
            });
            $('#datatable').DataTable({
                "iDisplayLength": 10,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            });
            $('.dataTables_length select').attr('data-am-selected', "{btnWidth: '38%', btnSize: 'sm'}");
            $('.dataTables_filter input').attr("placeholder", "搜索");
        });
    </script>

{% endblock %}