{% extends "layout/main.html" %}

{% block content %}

    <!-- Start: Content -->
    <div class="tpl-content-page-title am-icon-warning">
        {{"evacuateOpt"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li class="am-active">{{"evacuateOpt"|_}}</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row">
            <form class="am-form">
                <fieldset>
                    <div class="am-form-group">
                        <label for="remark">情况说明</label>
                        <input type="text" class="postData form-control" id="remark" {{ evacuation == 1 ? 'readonly' : null }} value="{{ evacuation == 1 ? '取消紧急疏散' : '紧急通知：女士们先生们，现在医院发生火警，请您从最近的消防通道疏散到一楼，请不要乘坐电梯，听从医院服务人员的指挥，感谢您的配合！' }}">
                    </div>
                    <div class="am-form-group">
                        <label for="evacutePass">请输入密码</label>
                        <input type="password" class="postData form-control" id="evacutePass">
                    </div>
                    <div class="am-form-group">
                        <button type="button" class="am-btn am-btn-secondary am-btn-xs am-radius pull-right" id="subBtn"><span class="am-icon-share"> {{'push'|_}}</span></button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        function submitHandler() {
            let postData = {
                evacutePass: $.trim($('#evacutePass').val()),
                remark: $.trim($('#remark').val()),
            };
            if (postData.evacutePass === '') {
                layer.alert('请填写密码!', {icon: 0});
                return false;
            }
            let _text = '确定紧急疏散？';
            if (1 == '{{user["projectDetails"]["project_emergency_evacuation"]}}') {
                _text = '确定撤销紧急疏散？';
            }
            let me = this;
            layer.confirm(_text, function (index) {
                $('.layui-layer-btn0').css('pointer-events', 'none');
                layer.close(index);
                let l = Ladda.create(me);
                l.start();
                $.ajax('/evacuate/opt', {
                    data: postData,
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        layer.alert(data.msg, {
                            yes: function () {
                                if (data.code == 0) {
                                    location.href = '/';
                                }
                            }
                        });
                        l.stop();
                    },
                    error: function () {
                        layer.alert('推送失败，请重试', {icon: 3});
                        l.stop();
                    },
                });
            });
        }

        jQuery(document).ready(function () {
            "use strict";
            $('#subBtn').bind('click', submitHandler);
        });
    </script>

{% endblock %}
