{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-line-chart">
        {{"ScenicEventsHandle"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{"ScenicManage"|_}}</li>
        <li class="am-active"><a href="/scenic/eventshandle" >{{"ScenicEventsHandle"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row">
            <form class="am-form" id="altForm">
                <fieldset>
                    <div class="am-form-group">
                        <label for="title">{{"ScenicEventsName"|_}} </label>
                        <input id="title" name="title" type="text" class="form-control" autocomplete="off" required="" value="{{projectEventsDetails['project_events_theme']}}">
                    </div>
                    <div class="am-form-group">
                        <label>活动头图</label> <span>(大小限制 100KB)</span>
                        <div style="margin: 6px;display: none;" id="previewDiv">
                            <a href="" target="_blank" id="previewImageUrl">
                                <img src="" width="100" id="previewImage" />
                            </a>
                            <button type="button" class="am-close am-close-alt am-icon-close am-close-spin" style="margin-left: 30px;" onclick="removeImage()"></button>
                            <input type="hidden" id="article_icon" value="">
                        </div>
                        <div class="am-progress am-progress-xs am-progress-striped am-active">
                            <div class="am-progress-bar am-progress-bar-success" id="thumbnailProgress"></div>
                        </div>
                        <div class="am-form-group am-form-file">
                            <button type="button" class="am-btn am-btn-default am-btn-sm"><i class="am-icon-cloud-upload"></i> 选择要上传的图片文件</button>
                            <input id="thumbnail" name="thumbnail" type="file" class="form-control" multiple onchange="UpLoadFile()" >
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="map_gid">活动地点</label>
                        <div>
                        <select id="map_gid" required="" data-am-selected="{searchBox: 1, maxHeight: 280, btnSize:'sm'}">
                            <option value=""></option>
                            {%for i in mapPolygon['data']%}
                            <option value="{{i['map_gid']}}" {{ projectEventsDetails['project_events_map_gid']==i['map_gid'] ? 'selected' : null }}>{{i['name']}}</option>
                            {%endfor%}
                        </select>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="newtimepicker">活动时间</label>
                        <input type="text" class="form-control mtn" id="newtimepicker" style="width:100%;" value="{{projectEventsDetails['timeRange']}}" required readonly>
                    </div>
                    <div class="am-form-group">
                        <label for="content_cn">中文介绍</label>
                        <textarea id="content_cn" name="content_cn" class="ckeditor" required="">{{projectEventsDetails["project_events_content"]}}</textarea>
                    </div>
                    <div class="am-form-group">
                        <label for="title_en"> {{"ScenicEventsNameEn"|_}} </label>
                        <input id="title_en" name="title_en" type="text" class="form-control" autocomplete="off" value="{{projectEventsDetails['project_events_theme_en']}}">
                    </div>
                    <div class="am-form-group">
                        <label for="content_en">英文介绍</label>
                        <textarea id="content_en" name="content_en">{{projectEventsDetails["project_events_content_en"]}}</textarea>
                    </div>
                    {#<div class="am-form-group">#}
                    {#<label>{{"ArticleLanguage"|_}}</label>#}
                    {#<div class="col-md-13">#}
                    {#<select class="multiselect" id="language">#}
                    {#<option value="zh_CN" {{ projectEventsDetails['project_events_locale']=='zh_CN' ? 'selected' : null }}>中文</option>#}
                    {#<option value="en_US" {{ projectEventsDetails['project_events_locale']=='en_US' ? 'selected' : null }}>English</option>#}
                    {#</select></div>#}
                    {#</div>#}
                    <div class="am-form-group col-md-12">
                        <button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius pull-right" id="subBtn"> {{"Submit"|_}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    {{javascript_include('client/vendor/plugins/validate/jquery.validate.js')}}
    {{javascript_include('client/vendor/plugins/validate/messages_zh.min.js')}}
    {{javascript_include('client/vendor/editors/ckeditor/ckeditor.js')}}
    {{javascript_include('client/vendor/editors/ckeditor/plugins/plugin_uploadImage.js')}}
    <script type="text/javascript" src="/laydate/laydate.js"></script>
    <script type="text/javascript">
        function formatDate(now) {
            var year = now.getFullYear(),
                month = now.getMonth() + 1,
                date = now.getDate();

            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }

            if (date >= 1 && date <= 9) {
                date = "0" + date;
            }

            return year + "/" + month + "/" + date + ' 00:00 - ' + year + "/" + month + "/" + date + ' 23:59';
        }

        var time = $('#newtimepicker').val();
        var date_time = time ? time : formatDate(new Date());

        laydate.render({
            elem: '#newtimepicker',
            type: 'datetime',
            position: 'fixed',
            calendar: true,
            range: true,
            format: 'yyyy/MM/dd HH:mm',
            value: date_time,
        });

        function bytesToSize(bytes) {
            var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
            if (bytes == 0) return '0 Byte';
            var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
            return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
        };

        function UpLoadFile() {
            var xhr = new XMLHttpRequest();
            xhr.overrideMimeType('text/plain; charset=utf-8');
            // FormData 对象
            var formData = new FormData();
            var files = document.getElementById('thumbnail').files;
            if (files[0] ==undefined){
                layer.alert("No file chosen", {icon: 0});
                return;
            }
            var totalBytes = files[0].size;
            if (totalBytes>102400){
                layer.alert('缩略图文件过大', {icon: 0});
                return;
            }
            // $("#userfile").attr("disabled","disabled");
            $("#thumbnail").attr("disabled","disabled");

            formData.set('part', 'clientEvents');
            formData.set('Filedata', files[0]);
            // XMLHttpRequest 对象
            xhr.upload.onprogress = function (ev) {
                var percent = 0;
                if (ev.lengthComputable) {
                    percent = parseInt(100 * ev.loaded / ev.total);
                    $("#thumbnailProgress").width(percent + "%");
                }
            };
            xhr.onreadystatechange = function () {
                if (xhr.readyState==4){
                    if (xhr.status == 200) {
                        $("#previewImage").attr("src" , xhr.responseText);
                        $("#previewImageUrl").attr("href" , xhr.responseText);
                        $("#article_icon").val(xhr.responseText);
                        $("#previewDiv").show();
                        // fileInput.replaceWith(fileInput.val('').clone(true));
                    }else{
                        layer.alert(xhr.responseText);
                    }
                }
                $("#thumbnailProgress").width("0%");
                $('#thumbnail').removeAttr("disabled");
            }
            xhr.open("post", "/upload/upload", true);
            xhr.send(formData);
        }

        function removeImage(){
            $('#article_icon').val('');
            $("#previewImage").attr("src" , "");
            var fileInput = $('#thumbnail');
            fileInput.replaceWith(fileInput.val('').clone(true));
            $("#previewImageUrl").attr("href" , '');
            $("#previewDiv").hide();
        }

        function submitHandler() {
            var content_cn = $.trim(CKEDITOR.instances['content_cn'].getData());
            var content_en = $.trim(CKEDITOR.instances['content_en'].getData());
            var title = $.trim($('#title').val());
            var title_en = $.trim($('#title_en').val());
            var map_gid = $.trim($('#map_gid').val());
            var timeRange = $.trim($('#newtimepicker').val());
            var topImage = $.trim($('#article_icon').val());
            if (topImage===''){
                layer.alert('请选择头图', {icon: 0});
                return false;
            }
            var l = Ladda.create(document.querySelector('#subBtn'));
            l.start();
            $.ajax('/scenic/eventshandle', {
                data: {
                    id: '{{projectEventsDetails['project_events_id']}}',
                    title: title,
                    title_en: title_en,
                    map_gid: map_gid,
                    timeRange: timeRange,
                    content_cn: content_cn,
                    content_en: content_en,
                    topImage: topImage,
                },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    layer.alert(data.msg, {
                        yes: function (index) {
                            if (data.code == 0) {
                                location.replace('/scenic/events');
                            }
                            layer.close(index);
                        }
                    });
                    l.stop();
                },
                error: function () {
                    layer.alert('服务器错误', {icon: 3});
                    l.stop();
                },
            });
            return false;
        }

        jQuery(document).ready(function () {
            "use strict";
            {%if projectEventsDetails["project_events_top_image"]%}
            $("#previewImageUrl").attr("href" , '{{url.getStaticBaseUri()}}{{projectEventsDetails["project_events_top_image"]}}');
            $("#previewDiv").show();
            $('#previewImage').attr('src','{{url.getStaticBaseUri()}}{{projectEventsDetails["project_events_top_image"]}}');
            $('#article_icon').val('{{url.getStaticBaseUri()}}{{projectEventsDetails["project_events_top_image"]}}');
    //        $('#thumbnail').val('{{projectEventsDetails["project_events_top_image"]}}');
            {%endif%}
            $("#altForm").validate({
                submitHandler: submitHandler,
                ignore:[],
                rules: {
                    content_cn: {
                        required: function(textarea) {
                            CKEDITOR.instances[textarea.id].updateElement(); // update textarea
                            var editorcontent = textarea.value.replace(/<[^>]*>/gi, ''); // strip tags
                            return editorcontent.length === 0;
                        }
                    },
                },
                errorPlacement: function (error, element) {
                    if (element.attr("name") == "content_cn") {
                        error.insertAfter("textarea#"+element.attr("name"));
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            // CKEDITOR.replace('content_cn', {
            //     extraPlugins: 'uploadimage',
            //     filebrowserImageUploadUrl: '/upload/upload?part=client_events',
            // });
            CKEDITOR.replace('content_en', {
                extraPlugins: 'uploadimage',
                filebrowserImageUploadUrl: '/upload/upload?part=client_events',
            });
        });
    </script>

{% endblock %}