{% extends "layout/main.html" %}

{% block content %}

    <script type="text/javascript" src="/client/pagers.js"></script>
    <div class="tpl-content-page-title am-icon-square-o">
        {{"ScenicEvents"|_}}
    </div>
    <div class="pull-right" style="margin-top: 20px;">
        <button type="button" class="am-btn am-btn-success am-btn-xs updateEquipment btn" onclick="location.href='/scenic/eventshandle';">添加活动</button>
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{"ScenicManage"|_}}</li>
        <li class="am-active"><a href="/scenic/events" >{{"ScenicEvents"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row">
            <form class="am-form">
                <fieldset>
                    <table class="am-table am-table-hover am-table-compact">
                        <thead>
                        <tr>
                            <th style="width:1%" nowrap="">活动时间</th>
                            <th nowrap="">活动名称</th>
                            <th style="width:1%" nowrap="">地点</th>
                            <th style="width:1%" nowrap="">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for i in projectEvents['data']%}
                        <tr id="events_{{i['project_events_id']}}">
                            <td nowrap="">{{date("Y-m-d H:i",i['project_events_time_start'])}} - {{date("Y-m-d H:i",i['project_events_time_end'])}}</td>
                            <td nowrap="">{{i['project_events_theme']}} ({%if i['project_events_theme_en']%}{{i['project_events_theme_en']}}{%endif%})</td>
                            <td nowrap="">{{i['map_polygon_name']}}</td>
                            <td nowrap>
                                <button type="button" class="am-btn am-btn-secondary am-btn-xs" onclick="location.href ='/scenic/eventshandle?id={{i['project_events_id']}}';">{{"Edit"|_}}</button>
                                <button type="button" class="am-btn am-btn-danger am-btn-xs deleteBtn" data-id="{{i['project_events_id']}}" id="deleteBtn_{{i['project_events_id']}}" data-style="expand-left">{{"Delete"|_}}</button>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </fieldset>
            </form>
            <div class="am-u-lg-12">
                <div class="am-cf">
                    <div class="am-fr">
                        <script type="text/javascript">
                            var pg = new showPages('pg');pg.pageCount = {{projectEvents['pageCount']}};pg.printHtml();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            "use strict";
            $('.deleteBtn').each(function () {
                $(this).on('click', function () {
                    let me = this;
                    layer.confirm("确定要删除此活动？", function (index) {
                        $('.layui-layer-btn0').css('pointer-events', 'none');
                        layer.close(index);
                        let id = $(me).attr('data-id'),
                            l = Ladda.create(me);
                        l.start();
                        $.ajax('/scenic/eventsdelete', {
                            data: {
                                id: id,
                            },
                            type: 'post',
                            dataType: 'json',
                            success: function (data) {
                                layer.alert(data.msg);
                                if (data.code == 0) {
                                    $('#events_' + id).remove();
                                }
                                l.stop();
                            },
                            error: function () {
                                layer.alert('服务器错误', {icon: 3});
                                l.stop();
                            },
                        });
                    });
                });
            });
        });
    </script>

{% endblock %}