{{partial("layout/header")}}
<script type="text/javascript" src="/console/pagers.js"></script>
<section id="content_wrapper">
    <div id="topbar">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active"><a href="#">{{"ScenicRoute"|_}}</a></li>
                <li class="crumb-icon"><a href="/{{routerProjectId}}/index/index"><span
                        class="glyphicon glyphicon-home"></span></a></li>
                <li class="crumb-link"><a href="/{{routerProjectId}}/index/index">{{"Home"|_}}</a></li>
                <li class="crumb-trail">{{"ScenicManage"|_}}</li>
            </ol>
        </div>
        <div class="topbar-right pt30">
            <button type="button" class="btn btn-success btn-sm updateEquipment"
                    onclick="location.href='/{{routerProjectId}}/scenic/routehandle';">添加路线方案
            </button>
        </div>
    </div>
    <div id="content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading"><span class="panel-title"> <span
                            class="glyphicon glyphicon-list-alt"></span> {{"ScenicRoute"|_}} </span>
                        <div class="topbar-right" style="margin-right: 10px;">
                            <select class="multiselect"
                                    onchange="$('.btn').attr('disabled','disabled');location.href='/{{routerProjectId}}/scenic/route?category_id='+this.value;">
                                <option value="">全部分类</option>
                                {%for i in scenicRouteCategoryList%}
                                <option value="{{i['scenic_route_category_id']}}" {%if filter[
                                'category_id']==i['scenic_route_category_id']%} selected="selected"{%endif%}>{{i['scenic_route_category_name']}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <th style="text-align: left" nowrap="">方案名称</th>
                            <th style="width:1%" nowrap="">分类</th>
                            <th style="width:1%" nowrap="">操作</th>
                            </thead>
                            <tbody>
                            {%for i in scenicRoute['data']%}
                            <tr id="route_{{i['scenic_route_id']}}">
                                <td style="text-align: left">{{i['scenic_route_name']}}</td>
                                <td nowrap="">{{i['scenic_route_category_name']}}</td>
                                <td nowrap>
                                    <button type="button" class="btn btn-info btn-gradient btn-xs"
                                            onclick="location.href ='/{{routerProjectId}}/scenic/routehandle?id={{i['scenic_route_id']}}';">
                                        {{"Edit"|_}}
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs deleteBtn ladda-button"
                                            data-id="{{i['scenic_route_id']}}" id="deleteBtn_{{i['scenic_route_id']}}"
                                            style="margin-left: 10px" data-style="expand-left"><span
                                            class="ladda-label">{{"Delete"|_}}</span></button>
                                </td>
                            </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                        <script language="JavaScript">
                            var pg = new showPages('pg');pg.pageCount = {{scenicRoute['pageCount']}};pg.printHtml();
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{{partial ("layout/footer")}}
{{javascript_include('client/vendor/plugins/multiselect/bootstrap-multiselect.js')}}
{{javascript_include('client/vendor/plugins/ladda/ladda.min.js')}}
<script type="text/javascript" src="https://signposs1.oss-cn-shenzhen.aliyuncs.com/client/js/main.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();

        $('.deleteBtn').each(function () {
            $(this).on('click', function () {
                if (confirm("确定要删除此方案？")) {
                    var id = $(this).attr('data-id');
                    var l = Ladda.create(document.querySelector('#' + this.id));
                    l.start();
                    $.ajax('/{{routerProjectId}}/scenic/routedelete', {
                        data: {
                            id: id,
                        },
                        type: 'post',
                        dataType: 'json',
                        success: function (data) {
                            alert(data.errmsg);
                            if (data.errcode == 0) {
                                $('#route_' + id).remove();
                            }
                            l.stop();
                        },
                        error: function () {
                            alert('服务器错误');
                            l.stop();
                        },
                    });
                }
            });
        });
        $('.multiselect').multiselect({enableFiltering: true,maxHeight: 420,buttonWidth:"400px"});

    });

</script>

</body>
</html>
