{% extends "layout/main.html" %}

{% block content %}

    <script type="text/javascript" src="/client/pagers.js"></script>
    <div class="tpl-content-page-title am-icon-square-o">
        {{"ScenicRoute"|_}}
    </div>
    <div class="pull-right" style="margin-top: 20px;">
        <button type="button" class="am-btn am-btn-success am-btn-xs updateEquipment btn" onclick="location.href='/scenic/routehandle';">添加路线方案</button>
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{"ScenicManage"|_}}</li>
        <li class="am-active"><a href="/scenic/route" >{{"ScenicRoute"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components" style="overflow: visible">
        <div class="row" style="overflow: visible">
            <div class="portlet-title">
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-inline">
                        <select title="全部分类" data-am-selected="{searchBox: 1, maxHeight: 280, btnSize:'sm'}" onchange="$('.btn').attr('disabled','disabled');location.href='/scenic/route?category_id='+this.value;">
                            <option value=" ">全部分类</option>
                            {%for i in scenicRouteCategoryList%}
                            <option value="{{i['scenic_route_category_id']}}" {%if filter['category_id']==i['scenic_route_category_id']%} selected="selected"{%endif%}>{{i['scenic_route_category_name']}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
            </div>
            <form class="am-form" id="altForm">
                <fieldset>
                    <table class="am-table am-table-striped am-table-hover am-table-compact">
                        <thead>
                        <tr>
                            <th style="width:50%" nowrap="">方案名称</th>
                            <th nowrap="">分类</th>
                            <th nowrap="">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for i in scenicRoute['data']%}
                        <tr id="route_{{i['scenic_route_id']}}">
                            <td>{{i['scenic_route_name']}}</td>
                            <td nowrap="">{{i['scenic_route_category_name']}}</td>
                            <td nowrap>
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-secondary am-radius" onclick="location.href ='/scenic/routehandle?id={{i['scenic_route_id']}}';">{{"Edit"|_}}</button>
                                    <button type="button" class="am-btn am-btn-danger am-radius deleteBtn" data-id="{{i['scenic_route_id']}}" id="deleteBtn_{{i['scenic_route_id']}}" style="margin-left: 10px">{{"Delete"|_}}</button>
                                </div>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </fieldset>
            </form>
            <div class="am-u-lg-12">
                <div class="am-cf">
                    <div class="am-fr">
                        <script language="JavaScript">
                            var pg = new showPages('pg');pg.pageCount = {{scenicRoute['pageCount']}};pg.printHtml();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            "use strict";
            $('.deleteBtn').each(function () {
                $(this).on('click', function () {
                    if (confirm("确定要删除此方案？")) {
                        var id = $(this).attr('data-id');
                        var l = Ladda.create(document.querySelector('#' + this.id));
                        l.start();
                        $.ajax('/scenic/routedelete', {
                            data: {
                                id: id,
                            },
                            type: 'post',
                            dataType: 'json',
                            success: function (data) {
                                alert(data.msg);
                                if (data.code == 0) {
                                    $('#route_' + id).remove();
                                }
                                l.stop();
                            },
                            error: function () {
                                alert('服务器错误');
                                l.stop();
                            },
                        });
                    }
                });
            });
        });
    </script>

{% endblock %}