{% extends "layout/main.html" %}

{% block content %}

    <script type="text/javascript" src="/client/pagers.js"></script>
    <div class="tpl-content-page-title am-icon-square-o">
        {{"ScenicSpots"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{"ScenicManage"|_}}</li>
        <li class="am-active"><a href="/scenic/spots" >{{"ScenicSpots"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components" style="overflow: visible">
        <div class="row" style="overflow: visible">
            <div class="portlet-title">
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-inline">
                        <select title="{{'MapList'|_}}" placeholder="{{'MapList'|_}}" data-am-selected="{searchBox: 1, maxHeight: 280, btnSize:'sm'}" id="map_id" onchange="$('.btn').attr('disabled','disabled');location.href='/scenic/spots?map_id='+this.value;">
                            <option value=""></option>
                            {%for i in mapList%}
                            <option value="{{i['map_id']}}" {{ filter['map_id']==i['map_id'] ? 'selected' : null }}>{{i['map_name']}}</option>
                            {%endfor%}
                        </select>
                        {%if filter['map_id'] is not empty%}
                        <select title="分类" data-am-selected="{searchBox: 1, maxHeight: 280, btnSize:'sm'}" id="category_id" onchange="$('.btn').attr('disabled','disabled');location.href='/scenic/spots?map_id='+$('#map_id').val()+'&category_id='+this.value;">
                            <option value="0">分类</option>
                            {%for i in categoryList%}
                            <option value="{{i['map_polygon_category_id']}}" {{ filter['category_id']==i['map_polygon_category_id'] ? 'selected' : null }}>{{i['map_polygon_category_name']}}</option>
                            {%endfor%}
                        </select>
                        <div class="am-u-sm-12 am-u-md-3" style="height: 32px; float: right;">
                            <div class="am-input-group am-input-group-sm">
                                <input title="search" type="search" class="am-form-field">
                                <span class="am-input-group-btn">
                                    <button class="am-btn am-btn-success tpl-am-btn-success am-icon-search am-btn-xs" onclick="search()"></button>
                                </span>
                            </div>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
            <form class="am-form">
                <fieldset>
                    {%if mapPolygon is defined%}
                    <table class="am-table am-table-hover am-table-compact">
                        <thead>
                        <tr>
                            <th>景点缩略图</th>
                            <th>景点名称</th>
                            <th style="width:1%" nowrap="">详情</th>
                            <th style="width:1%" nowrap="">相册</th>
                            <th style="width:1%" nowrap="">语音</th>
                            <th nowrap="">视频</th>
                            <th style="width:1%" nowrap="">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for i in mapPolygon['data']%}
                        <tr id="article_{{i['article_id']}}">
                            <td>
                                <img src="{%if i['map_polygon_description_thumbnail'] %}{{base_url}}{{i['map_polygon_description_thumbnail']}}{%else%}{{'/client/crash.png'}}{%endif%}" width="50px" height="50px">
                            </td>
                            <td>{{i['name']}} {{i['name_en']}}</td>
                            <td nowrap>
                                {%if i['map_polygon_description_content']%}<span class="label label-success">是</span>
                                {%else%}<span class="label label-default">无</span>
                                {%endif%}
                            </td>
                            <td nowrap>
                                {%if i['map_polygon_image']%}<span class="label label-success">是</span>
                                {%else%}<span class="label label-default">无</span>
                                {%endif%}
                            </td>
                            <td nowrap>
                                {%if i['map_polygon_description_voice']%}<span class="label label-success">是</span>
                                {%else%}<span class="label label-default">无</span>
                                {%endif%}
                            </td>
                            <td nowrap="">
                                {%if i['map_polygon_description_video']%}<span class="label label-success">是</span>
                                {%else%}<span class="label label-default">无</span>
                                {%endif%}
                            </td>
                            <td nowrap>
                                <button type="button" class="btn am-btn am-btn-secondary am-btn-xs am-radius" onclick="location.href ='/scenic/spothandle?id={{i['map_polygon_id']}}';">{{"EditDetails"|_}}</button>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                    {%endif%}
                </fieldset>
            </form>
            {%if mapPolygon is defined%}
            <div class="am-u-lg-12">
                <div class="am-cf">
                    <div class="am-fr">
                        <script type="text/javascript">
                            var pg = new showPages('pg');pg.pageCount = {{mapPolygon['pageCount']}};pg.printHtml();
                        </script>
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            $("input[type='search']").bind('keypress',function(event){
                if (event.keyCode === 13) {
                    search();
                }
            })
        });
        function search() {
            var keywords = $("input[type='search']").val().trim();
            if (!keywords.length) {
                layer.alert('请输入搜索内容', {icon: 0});
                return false;
            }
            location.href="/scenic/spots?map_id={{filter['map_id'] is defined ? filter['map_id'] : ''}}&category_id={{filter['category_id'] is defined ? filter['category_id'] : '' }}&keywords=" + keywords + "&page={{filter['page'] is defined ? filter['page'] : '' }}";
        }
    </script>

{% endblock %}