{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-bookmark-o">
        商家主营类别
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>类别管理</li>
        <li class="am-active"><a href="/seller/goodscategory" >商家主营类别</a></li>
    </ol>
    <div class="tpl-portlet-components" style="overflow: visible">
        <div class="row" style="overflow: visible">
            <form class="am-form" id="altForm">
                <fieldset>
                    <div class="am-form-group">
                        <label for="editDepart" class="control-label">要编辑的类别</label>
                        <div>
                            <select class="form-control" id="editDepart" data-am-selected="{searchBox: 1, maxHeight: 250, btnSize:'sm'}">
                                <option value="0"></option>
                                {%for i in GoodsCategoryList%}
                                <option value="{{i['goods_category_id']}}">{{i['goods_name']}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="am-alert am-alert-danger">不选择编辑的类别则为添加类别!</div>
                    <div class="am-form-group">
                        <label for="name" class="control-label">商家类别</label>
                        <input id="name" name="name" type="text" class="form-control" autocomplete="off" required="">
                    </div>
                    <div class="am-form-group">
                        <button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius pull-right" id="subBtn"> {{'Submit'|_}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    {{javascript_include('client/vendor/plugins/validate/jquery.validate.js')}}
    {{javascript_include('client/vendor/plugins/validate/messages_zh.min.js')}}
    <script type="text/javascript">
        function submitHandler(){
            var goods_name = $.trim($('#name').val());
            var goods_category_id = $('#editDepart').val();
            $('#subBtn').attr('disabled','disabled');
            var l = Ladda.create(document.querySelector('#subBtn'));
            l.start();
            $.ajax('/seller/goodscategory', {
                data: {
                    goods_category_id: goods_category_id,
                    goods_name: goods_name,
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    if (data.code == 0)
                    {
                        alert('操作成功');
                        location.reload();
                    }
                    else
                    {
                        alert(data.msg);
                    }
                    $('#subBtn').removeAttr('disabled');
                    l.stop();
                },
                error: function(data)
                {
                    l.stop();
                    alert('服务器错误');
                    $('#subBtn').removeAttr('disabled');
                }
            });
            return false;
        }
        var GoodsCategoryListJson = {{GoodsCategoryListJson}};
        jQuery(document).ready(function () {
            "use strict";
            // Init Theme Core
            $('#altForm').validate({submitHandler:submitHandler,ignore: ''});
            var depart = $('#editDepart');
            depart.change(function(event)
            {
                // Values
                if (this.value == 0) {
                    $('#altForm')[0].reset();
                    return false;
                }
                $('#name').val(this.value > 0 ? GoodsCategoryListJson[this.value]['goods_name'] : '');
            });
        });
    </script>

{% endblock %}