{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-bookmark-o">
        商家规模类别
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>类别管理</li>
        <li class="am-active"><a href="/seller/scale" >商家规模类别</a></li>
    </ol>
    <div class="tpl-portlet-components" style="overflow: visible">
        <div class="row" style="overflow: visible">
            <form class="am-form" id="altForm">
                <fieldset>
                    <div class="am-form-group">
                        <label for="editDepart" class="control-label">要编辑的类别</label>
                        <div>
                            <select class="form-control" id="editDepart" data-am-selected="{searchBox: 1, maxHeight: 250, btnSize:'sm'}">
                                <option value="0"></option>
                                {%for i in scaleList%}
                                <option value="{{i['scale_id']}}">{{i['scale_name']}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="am-alert am-alert-danger">不选择编辑的类别则为添加类别!</div>
                    <div class="am-form-group">
                        <label for="name" class="control-label">商家规模</label>
                        <input id="name" name="name" type="text" class="form-control" autocomplete="off" required="">
                    </div>
                    <div class="am-form-group">
                        <button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius pull-right" id="subBtn"> {{'Submit'|_}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    
    {{javascript_include('client/vendor/plugins/validate/jquery.validate.js')}}
    {{javascript_include('client/vendor/plugins/validate/messages_zh.min.js')}}
    <script type="text/javascript">
        function submitHandler(){
            var scale_name = $.trim($('#name').val());
            var scale_id = $('#editDepart').val();
            $('#subBtn').attr('disabled','disabled');
            var l = Ladda.create(document.querySelector('#subBtn'));
            l.start();
            $.ajax('/seller/scale', {
                data: {
                    scale_id: scale_id,
                    scale_name: scale_name,
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    if (data.code == 0)
                    {
                        layer.alert('操作成功', {
                            icon: 1,
                            yes: function (index) {
                                location.reload();
                                layer.close(index);
                            }
                        });
                    } else {
                        layer.alert(data.msg, {icon: 2});
                    }
                    $('#subBtn').removeAttr('disabled');
                    l.stop();
                },
                error: function(data)
                {
                    l.stop();
                    layer.alert('服务器错误', {icon: 3});
                    $('#subBtn').removeAttr('disabled');
                }
            });
            return false;
        }
        var scaleListJson = {{scaleListJson}};
        jQuery(document).ready(function () {
            "use strict";
            $('#altForm').validate({submitHandler:submitHandler,ignore: ''});
            var depart = $('#editDepart');
            depart.change(function(event)
            {
                // Values
                if (this.value == 0) {
                    $('#altForm')[0].reset();
                    return false;
                }
                $('#name').val(this.value > 0 ? scaleListJson[this.value]['scale_name'] : '');
            });
        });
    </script>

{% endblock %}