{% extends "layout/main.html" %}

{% block content %}

    <link rel="stylesheet" href="/amazeuidatatables/amazeui.datatables.css"/>
    <script type="text/javascript" src="/client/pagers.js"></script>
    <div class="tpl-content-page-title am-icon-user">
        商家账号列表
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>账号管理</li>
        <li class="am-active"><a href="/seller/sellerhandle" >商家账号列表</a></li>
    </ol>
    <div class="tpl-portlet-components" style="overflow: visible">
        <div class="row" style="overflow: visible">
            <div class="portlet-title">
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-inline">
                        <select title="全部账号" data-am-selected="{searchBox: 1, maxHeight: 280, btnSize:'sm'}" id="department_id" onchange="$('.btn').attr('disabled','disabled');$('#department_id').attr('disabled','disabled');location.href='/seller/sellerlist?seller_status='+this.value;">
                            <!--<option value="" {%if status==''%} selected {%endif%}>全部账号</option>-->
                            <option value="0" {%if status==0%} selected {%endif%}>未激活</option>
                            <option value="1" {%if status==1%} selected {%endif%}>审核中</option>
                            <option value="2" {%if status==2%} selected {%endif%}>审核通过</option>
                            <option value="3" {%if status==3%} selected {%endif%}>审核未通过</option>
                        </select>
                    </div>
                </div>
            </div>
            <form class="am-form">
                <fieldset>
                    <table class="am-table am-table-striped am-table-hover am-table-compact" id="datatable" style="word-wrap:break-word;word-break:break-all;">
                        <thead>
                        <tr>
                            <th>店铺头图</th>
                            <th>店铺名</th>
                            <th>店铺地址</th>
                            <th>所在楼层</th>
                            <th>地图点位名</th>
                            <th>初始点位账号</th>
                            <th>手机账号</th>
                            <th>状态</th>
                            <th>首页推荐商家</th>
                            <th>地图页优惠商家</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for i in sellerList%}
                        <tr id="{{i['seller_id']}}">
                            <td>{%if i['seller_card_img']%}<img src="{%if i['seller_photo_source']=='oss'%}https://signposs1.oss-cn-shenzhen.aliyuncs.com/{%else%}http://apimerchant.signp.cn/{%endif%}{{i['seller_card_img']}}"  width="60">{%else%}<img src="/client/crash.png" />{%endif%}</td>
                            <td class="text-left">{{i['seller_shop_name']}}</td>
                            <td><span style="color: #00a6b6">{{i['seller_name']}}</span></td>
                            <td>{{i['map_name']}}</td>
                            <td>{{i['name']}}</td>
                            <td>{{i['map_gid']}}</td>
                            <td>{{i['seller_tel']}}</td>
                            <td>
                                {%if i['seller_status']==0%}<span class="label label-default">未激活</span>
                                {%elseif i['seller_status']==1%}<span class="label label-info">审核中</span>
                                {%elseif i['seller_status']==2%}<span class="label label-success">审核通过</span>
                                {%elseif i['seller_status']==3%}<span class="label label-warning">审核未通过</span>
                                {%endif%}
                            </td>
                            <td>
                                {%if i['seller_status']==2%}
                                {%if i['seller_staff_intro']==1%}
                                <button type="button" class="btn am-btn am-btn-success am-btn-xs reconmd1" atrs="0" data-id="{{i['seller_id']}}">已被推荐(点击取消)</button>
                                {%else%}
                                <button type="button" class="btn am-btn am-btn-warning am-btn-xs reconmd1" atrs="1" data-id="{{i['seller_id']}}">未被推荐(点击推荐)</button>
                                {%endif%}
                                {%else%}
                                <button type="button" class="btn am-btn am-btn-default am-btn-xs" data-id="{{i['seller_id']}}">未激活</button>
                                {%endif%}
                            </td>
                            <td>
                                {%if i['seller_status']==2%}
                                {%if i['seller_shop_img']==1%}
                                <button type="button" class="btn am-btn am-btn-success am-btn-xs reconmd2" atrs="0" data-id="{{i['seller_id']}}">已被推荐(点击取消)</button>
                                {%else%}
                                <button type="button" class="btn am-btn am-btn-warning am-btn-xs reconmd2" atrs="1" data-id="{{i['seller_id']}}">未被推荐(点击推荐)</button>
                                {%endif%}
                                {%else%}
                                <button type="button" class="btn am-btn am-btn-default am-btn-xs" data-id="{{i['seller_id']}}">未激活</button>
                                {%endif%}
                            </td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs am-btn-group-stacked">
                                        <button type="button" class="btn am-btn am-btn-secondary am-radius" onclick="$('.btn').attr('disabled','disabled');location.href ='/seller/sellerhandle?seller_id={{i['seller_id']}}';">{{"Edit"|_}}</button>
                                        <button type="button" class="btn am-btn am-btn-warning am-radius" onclick="$('.btn').attr('disabled','disabled');location.href ='/seller/promotionlist?seller_id={{i['seller_id']}}';">促销信息</button>
                                        <button type="button" class="btn am-btn am-btn-danger am-radius deleteBtn" data-id="{{i['seller_id']}}">重置密码</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                    <div class="am-u-lg-12">
                        <div class="am-cf">
                            <div class="am-fr">
                                <script language="JavaScript">
                                    var pg = new showPages('pg');pg.pageCount = {{pageCount}};pg.printHtml();
                                </script>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <script src="/amazeuidatatables/amazeui.datatables.min.js"></script>
    <script type="text/javascript">
        function recommend(id1,id2,seller_id) {
            $('.btn').attr('disabled','disabled');
            $.ajax('/seller/recommend', {
                data: {
                    seller_staff_intro:id1,
                    seller_shop_img:id2,
                    seller_id:seller_id
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    if (data.code == 0)
                    {
                        alert('操作成功');
                        $('#loadings').remove();
                        location.reload();
                    }
                },
                error: function()
                {
                    alert('服务器错误');
                },
                complete:function(){
                    $('.btn').removeAttr('disabled');
                }
            });
        }
        
        function repassword(id){
            $('.btn').attr('disabled','disabled');
            $.ajax('/seller/ajaxchangepassword', {
                data: {
                    seller_id:id,
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    if (data.code == 0)
                    {
                        alert('重置成功');
                        $('#loadings').remove();
                    }
                },
                error: function()
                {
                    alert('服务器错误');
                },
                complete:function(){
                    $('.btn').removeAttr('disabled');
                }
            });
        }
        jQuery(document).ready(function () {
            "use strict";
            $('.reconmd1').each(function(){
                $(this).on('click',function(){
                    var atrs = $(this).attr('atrs');
                    var rst = '';
                    if(atrs == 0){
                        rst = '取消推荐商家?'
                    }else{
                        rst = '成为推荐商家?'
                    }
                    if (confirm(rst)){
                        $(this).parent().append('{{image("https://signposs1.oss-cn-shenzhen.aliyuncs.com/oss/Images/Icons/Load/load-7.gif","id":"loadings" ,"width":20)}}');
                        recommend(atrs,'',$(this).attr('data-id'))
                    }
                });
            });

            $('.reconmd2').each(function(){
                $(this).on('click',function(){
                    var atrs = $(this).attr('atrs');
                    var rst = '';
                    if(atrs == 0){
                        rst = '取消优惠商家?'
                    }else{
                        rst = '成为优惠商家?'
                    }
                    if (confirm(rst)){
                        $(this).parent().append('{{image("https://signposs1.oss-cn-shenzhen.aliyuncs.com/oss/Images/Icons/Load/load-7.gif","id":"loadings" ,"width":20)}}');
                        recommend('',atrs,$(this).attr('data-id'))
                    }
                });
            });
            
            $('.deleteBtn').each(function(){
                $(this).on('click',function(){
                    if (confirm("密码将重置为123456,确定吗？")){
                        $(this).parent().append('{{image("https://signposs1.oss-cn-shenzhen.aliyuncs.com/oss/Images/Icons/Load/load-7.gif","id":"loadings" ,"width":20)}}');
                        repassword($(this).attr('data-id'))
                    }
                });
            });

            $('#datatable').dataTable({
                "paging": false,
                "iDisplayLength": 10,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            });
            $('.dataTables_length select').attr('data-am-selected', "{btnWidth: '38%', btnSize: 'sm'}");
            $('.dataTables_filter input').attr("placeholder", "搜索");
        });
    </script>

{% endblock %}