{% extends "layout/main.html" %}

{% block content %}

    <!-- Start: Content -->
    <div class="tpl-content-page-title am-icon-user-secret">
        修改密码
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li class="am-active">修改密码</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row">
            <form class="am-form" id="altForm">
                <fieldset>
                    <div class="am-form-group">
                        <label for="old_pass">原密码: </label>
                        <input type="password" class="form-control" id="old_pass" name="old_pass" autocomplete="off" required minlength="6">
                    </div>
                    <div class="am-form-group">
                        <label for="new_pass">新密码: </label>
                        <input type="password" class="form-control" id="new_pass" name="new_pass" autocomplete="off" required minlength="6">
                    </div>
                    <div class="am-form-group">
                        <label for="comfirm_pass">确认密码: </label>
                        <input type="password" class="form-control" id="comfirm_pass" name="comfirm_pass" autocomplete="off" required minlength="6">
                    </div>
                    <div class="am-form-group">
                        <button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius pull-right" id="subBtn"> {{'Submit'|_}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <!-- Theme Javascript -->
    {{javascript_include('client/vendor/plugins/validate/jquery.validate.js')}}
    {{javascript_include('client/vendor/plugins/validate/messages_zh.min.js')}}
    <script type="text/javascript">
        function submitHandler(){
            var old_pass = $.trim($('#old_pass').val()),
                new_pass = $.trim($('#new_pass').val());
            $('#subBtn').attr('disabled', 'disabled');
            $('#subLoading').remove();
            var l = Ladda.create(document.querySelector('#subBtn'));
            l.start();
            $.ajax('/passport/changepass', {
                data: {
                    old_pass : old_pass,
                    new_pass : new_pass,
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    layer.alert(data.msg, {
                        yes: function () {
                            if (data.code == 0)
                            {
                                location.href = "/passport/logout";
                            }
                        }
                    });
                },
                error: function()
                {
                    layer.alert('服务器错误', {icon: 2});
                },
                complete:function(){
                    l.stop();
                    $('#subBtn').removeAttr('disabled');
                }
            });
            return false;
        }
        jQuery(document).ready(function () {
            "use strict";
            $.validator.addMethod('the_same',function(value, element){
                return value !== $.trim($('#old_pass').val());
            },'新旧密码不能相同');
            $('#altForm').validate({
                submitHandler:submitHandler,
                rules: {
                    new_pass: {
                        the_same: true
                    },
                    comfirm_pass: {
                        equalTo: '#new_pass'
                    }
                },
                messages: {
                    comfirm_pass: {
                        equalTo: '两次输入不一致'
                    }
                }
            });
        });
    </script>

{% endblock %}