<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>橙视光标 - 客户端</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="橙视光标 - 客户端"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="/assets/css/app.css">

    <link rel="stylesheet" href="/new/css/login.css">
</head>

<body data-type="login">

    <div class="am-g myapp-login">
        <div class="myapp-login-logo-block  tpl-login-max">
            <div class="myapp-login-logo-text">
                <div class="myapp-login-logo-text">
                    Item<span> Login</span> <i class="am-icon-skyatlas"></i>
                </div>
            </div>
            <div class="am-u-sm-10 login-am-center">
                <div class="am-tabs" data-am-tabs="{noSwipe: 1}">
                    <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a href="#tab1" name="tab1" >扫码登录</a></li>
                        <li><a href="#tab2" name="tab2" >账号密码登录</a></li>
                    </ul>
                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-fad am-in am-active" id="tab1">
                            <form class="am-form">
                                <fieldset class="fieldset" style="margin: 0">
                                    <p align="center">( 请使用微信扫码 )</p>
                                    <div class="am-form-group text-center" id="qrImg">
                                        <img src='data:image/png;base64,{{ qrImg }}' />
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="am-tab-panel am-fade" id="tab2">
                            <form class="am-form">
                                <P></P>
                                <fieldset style="margin: 0">
                                    <div class="am-form-group">
                                        <input type="text" class="" placeholder="账号" id="username">
                                    </div>
                                    <div class="am-form-group">
                                        <input type="password" class="" placeholder="密码" id="password">
                                    </div>
                                    <p>
                                        <button id="submitBtn" type="submit" class="am-btn am-btn-default">{{'login'|_}}</button>
                                    </p>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>

{{javascript_include('socket.io/socket.io-1.4.5.js')}}
{{javascript_include('client/vendor/plugins/ladda/ladda.min.js')}}
<script type="text/javascript">
    jQuery(document).ready(function () {
        "use strict";
        $('.loginType').bind('click',function(){
            var _toggle = $(this).attr('data-toggle');
            $('.loginType').removeClass('active');
            $(this).addClass('active');
            $('.panel-body').hide();
            $('#'+_toggle).show();
        });
        var socket = io('{{setting["ioUrl"]}}');
        socket.on('connect', function(){
            socket.emit('login', "signp|client|{{_csrfKey}}");
        });
        socket.on('new_msg', function(msg){
            msg = eval("("+msg+")");
            var postObj = $.extend({}, msg, {"{{_csrfKey}}":"{{_csrf}}"});
            $('#qrImg').html('<img src="https://signposs1.oss-cn-shenzhen.aliyuncs.com/oss/Images/Icons/Load/load-7.gif" class="loadImg" />');
            $.ajax('/passport/wx', {
                data: postObj,
                type: 'post',
                dataType: 'json',
                success: function(data) {
                    if (data.code=="0"){
                        location.replace("/")
                    }else{
                        $('#qrImg').html(data.msg+"<br /><br /><a href='javascript:void(null);' onclick='location.reload();'>点此刷新</a>");
                    }
                },
                error:function(){
                    $('#qrImg').html("{{'ServerError'|_}}<br /><br /><a href='javascript:void(null);' onclick='location.reload();'>点此刷新</a>");
                },
            });
        });
        $('#submitBtn').bind('click',function(){
            var username = $.trim($('#username').val());
            var password = $.trim($('#password').val());
            if (username==='' || password===''){
                alert('请填写完整');
                return;
            }
            var postObj = {"{{_csrfKey}}":"{{_csrf}}",username:username,passwd:password};
            var l = Ladda.create( document.querySelector( '#submitBtn' ) );
            l.start();
            $.ajax('/passport/login', {
                data: postObj,
                type: 'post',
                dataType: 'json',
                success: function(data) {
                    if (data.code===0){
                        location.href='/';
                        return;
                    }
                    alert(data.msg);
                    location.reload();
                },
                error:function(){
                    alert("验证异常，请刷新重试！");
                    l.stop();
                },
            });
        });
    });
</script>

</html>