{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-file-image-o">
        {{"PointResourceManage"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li class="am-active"><a href="/pointresource/handle" >{{"PointResourceManage"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row" style="min-height: 500px">
            <form class="am-form" id="altForm">
                <fieldset>
                    <div class="am-form-group">
                        <label for="map_id">{{"MapName"|_}}: </label>
                        <div>
                            <select class="formData" id="map_id" required data-am-selected="{searchBox: 1, maxHeight: 250, btnSize: 'sm'}}" onchange="selectPoint(this.value)">
                                <option value="0">选择{{"MapName"|_}}</option>
                                {%for i in mapList%}
                                <option value="{{i['map_id']}}">{{i['map_name']}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="map_gid">{{"Equipment"|_}}: </label>
                        <div>
                            <select class="formData" id="map_gid" required data-am-selected="{searchBox: 1, maxHeight: 250, btnSize: 'sm'}}" onchange="initialResource($('#map_id').val(),this.value)">
                                <option value=" ">请先选择{{"MapName"|_}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label>{{"PointResourceImage"|_}}: </label>
                        <div id="imagePreview" class='preview'></div>
                        <div class="am-progress am-progress-xs am-progress-striped am-active">
                            <div class="am-progress-bar am-progress-bar-success" id="thumbnailProgress"></div>
                        </div>
                        <div class="am-form-group am-form-file" id="images" style="display: none;">
                            <button type="button" class="am-btn am-btn-sm"><i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
                            <input id="thumbnail" name="thumbnail" type="file" onchange="uploadImage()">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <button type="submit" class="btn am-btn am-btn-secondary am-btn-sm am-radius pull-right" id="subBtn"> {{"Submit"|_}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    {{javascript_include('client/vendor/plugins/validate/jquery.validate.js')}}
    <script type="text/javascript">
        var xhr_uploadVideo;
        function initialResource(map_id,pointId){
            if (pointId === ' ') {
                return;
            }
            $.ajax('/pointresource/ajaxgetresourcebymappointid', {
                data: {
                    point_id: pointId,
                    map_id: map_id,
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    console.log(data);
                    var imageHtml = '';
                    if (data.code == 0)
                    {
                        if (data.data.image.length>0){
                            for(var i=0;i<data.data.image.length;i++){
                                imageHtml += '<span style="float:left;display:inline;"><button class="btn am-close am-close-alt am-icon-close am-close-spin" onclick="if (confirm(\'确定删除？\')){remove(\''+data.data.image[i]+'\');$(this).parent().remove();};return false;"></button><br /><a href="'+data.data.image[i]+'" target="_blank"><img style="width: 20%;height: 20%" src="'+data.data.image[i]+'" alt=""/></a></span>';
                            }
                        }
                    }else{
                        alert(data.msg);
                    }
                    if (imageHtml=='') imageHtml='没有相关图片';
                    $('#imagePreview').html(imageHtml);
                },
                error: function()
                {
                    alert('服务器错误');
                },
                complete:function(){
                }
            });
        }
        function selectPoint(map_id){
            console.log(map_id);
            var html='';
            if (map_id>0){
                $.ajax('/pointresource/ajaxgetequipmentbymapid', {
                    data: {
                        map_id: map_id,
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function(data)
                    {
                        if (data.code == 0)
                        {
                            if (data.data.length>0){
                                var firstPointId;
                                for(var i=0;i<data.data.length;i++){
                                    if (i==0){
                                        firstPointId = data.data[i]['id'];
                                    }
                                    html += '<option value="'+data.data[i]['id']+'" data-equipment="'+data.data[i]['equipment_id']+'">'+data.data[i]['map_point_name']+'</option>';
                                }
                                // if (firstPointId){
                                //     initialResource(map_id,firstPointId);
                                // }
                            }
                        }else{
                            alert(data.msg);
                        }
                        if (html==''){
                            html='<option value=" ">没有相关设备</option>';
                            $('#imagePreview').html('');
                            $('#images').hide();
                        }else{
                            $('#images').show();
                        }
                        $("#map_gid").html(html).selected('enable');
                    },
                    error: function()
                    {
                        alert('服务器错误');
                    },
                    complete:function(){
                    }
                });
            }

        }
        function remove(url){
            $('.btn').attr('disabled','disabled');
            $.ajax('/pointresource/ajaxremovetmpresource', {
                data: {
                    url:url
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    console.log(data)
                },
                error: function()
                {
                },
                complete:function(){
                    $('.btn').removeAttr('disabled');
                }
            });
        }
        function uploadImage() {
            var xhr = new XMLHttpRequest();
            xhr.overrideMimeType('text/plain; charset=utf-8');
            // FormData 对象
            var formData = new FormData();
            var files = document.getElementById('thumbnail').files;
            if (files[0] ==undefined){
                alert("No file chosen")
                return;
            }
            var totalBytes = files[0].size;
            // $("#userfile").attr("disabled","disabled");
            $("#thumbnail").attr("disabled","disabled");

            formData.set('part', 'point_resource_image');
            formData.set('Filedata', files[0]);
            // XMLHttpRequest 对象
            xhr.upload.onprogress = function (ev) {
                var percent = 0;
                if (ev.lengthComputable) {
                    percent = parseInt(100 * ev.loaded / ev.total);
                    $("#thumbnailProgress").width(percent + "%");
                }
            };
            xhr.onreadystatechange = function () {
                if (xhr.readyState==4){
                    if (xhr.status == 200) {
                        console.log(xhr.responseText);
                        $('#imagePreview').append('<span style="float:left;display:inline;"><button class="btn am-close am-close-alt am-icon-close" onclick="if (confirm(\'确定删除？\')){remove(\''+xhr.responseText+'\');$(this).parent().remove();}return false;"></button><br /><a href="'+xhr.responseText+'" target="_blank"><img style="width: 20%;height: 20%" src="'+xhr.responseText+'" alt=""/></a></span>');
                        $('#thumbnail').val('');
                        // fileInput.replaceWith(fileInput.val('').clone(true));
                    }else{
                        alert(xhr.responseText)
                    }
                }
                $("#thumbnailProgress").width("0%");
                $('#thumbnail').removeAttr("disabled");
            }
            xhr.open("post", "/upload/upload", true);
            xhr.send(formData);
        }

        function submitHandler(){
            var map_id     = $.trim($('#map_id').val()),point_id = $.trim($('#map_gid').val());
            var equipment_id = $('#map_gid option:selected').attr('data-equipment');
            if (!equipment_id){
                alert('设备获取失败，请联系管理员!')
                return false;
            }
            var imageSrc = '';
            $('#imagePreview img').each(function(index,ele){
                imageSrc += $(this).parent().attr('href')+'|';
            });
            if (imageSrc==''){
                alert('必须含有图片资源')
                return false;
            }
            $('#subBtn').attr('disabled', 'disabled');
            var l = Ladda.create(document.querySelector('#subBtn'));
            l.start();
            $.ajax('/pointresource/handle', {
                data: {
                    equipment_id     : equipment_id,
                    imageSrc     : imageSrc,
                    map_id    : map_id,
                    point_id   : point_id,
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    if (data.code == 0)
                    {
                        if (data.data!='ok'){
                            alert('推送失败，可能原因（设备不在线），请重新提交！');
                            return;
                        }
                    }
                    l.stop();
                    alert(data.msg);
                },
                error: function()
                {
                    l.stop();
                    alert('服务器错误');
                },
                complete:function(){
                    l.stop();
                    $('#subBtn').removeAttr('disabled');
                    $('#subLoading').remove();
                }
            });
            return false;
        }
        jQuery(document).ready(function () {
            "use strict";
            // Init Theme Core
            $.validator.addMethod("needsSelection", function(value, element) {
                return $(element).multiselect("getChecked").length > 0;
            });
            $("#altForm").validate({
                submitHandler:submitHandler,
                ignore: [':hidden:not("#map_id")'],
                rules:{
                    map_id: "required needsSelection",
                }
            });
            $('#map_gid').selected('disable');
        });
    </script>

{% endblock %}