{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-book">
        {{"ArticleCategory"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li class="am-active"><a href="/article/category" >{{"ArticleCategory"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components" style="overflow: visible">
        <div class="row" style="overflow: visible">
            <form class="am-form" id="altForm">
                <fieldset>
                    <div class="am-form-group">
                        <label for="editDepart">要编辑的分类</label>
                        <div>
                            <select id="editDepart" data-am-selected="{btnSize:'sm'}">
                                <option value="0"></option>
                                {%for i in options%}
                                <option value="{{i['id']}}">{{i['id']}}. {{i['item']}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="am-alert am-alert-danger">不选择编辑的分类则为添加分类!</div>
                    <div class="am-form-group">
                        <label for="name">{{"CategoryName"|_}}</label>
                        <input id="name" name="name" type="text" class="form-control" autocomplete="off" required>
                    </div>
                    <div class="am-form-group">
                        <label for="pid">上级分类</label>
                        <div>
                            <select id="pid" data-am-selected="{btnSize:'sm'}">
                                <option value="0"></option>
                                {%for i in options%}
                                <option value="{{i['id']}}">{{i['id']}}. {{i['item']}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="sort_order">{{"CategorySort"|_}}</label>
                        <div class="am-input-group">
                            <input id="sort_order" type="number" class="form-control" name="sort_order" value="0" min="0" max="2500">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius pull-right" id="subBtn"> {{'Submit'|_}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    {{javascript_include('client/vendor/plugins/validate/jquery.validate.js')}}
    {{javascript_include('client/vendor/plugins/validate/messages_zh.min.js')}}
    <script type="text/javascript">
        function submitHandler(){
            var name = $.trim($('#name').val());
            var article_category_id = $('#editDepart').val();
            var pid = $('#pid').val();
            var sort_order = parseInt($('#sort_order').val());
            $('#subBtn').attr('disabled','disabled');
            var l = Ladda.create(document.querySelector('#subBtn'));
            l.start();
            $.ajax('/article/category', {
                data: {
                    name: name,
                    article_category_id: article_category_id,
                    pid: pid,
                    sort_order: sort_order
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    if (data.code == 0)
                    {
                        layer.alert('操作成功', {
                            icon: 1,
                            yes: function () {
                                location.reload();
                            }
                        });
                    } else {
                        layer.alert(data.msg, {icon: 2});
                    }
                    l.stop();
                },
                error: function(data)
                {
                    l.stop();
                    layer.alert('服务器错误', {icon: 3});
                }
            });
            return false;
        }
        var cateList = {{cates}};
        jQuery(document).ready(function () {
            "use strict";
            $('#altForm').validate({submitHandler:submitHandler,ignore: []});
            var depart = $('#editDepart');
            depart.change(function(event)
            {
                // Values
                if (this.value == 0) {
                    $('#altForm')[0].reset();
                    return false;
                }
                $('#name').val(this.value > 0 ? cateList[this.value]['name'] : '');
                $('#pid').val(this.value > 0 ? cateList[this.value]['pid'] : 0);
                $('#sort_order').val(this.value > 0 ? cateList[this.value]['sort_order'] : 0);
            });
        });
    </script>

{% endblock %}