{{partial("layout/header")}}
<style>
.conditionalPart{display: none}
</style>
<section id="content_wrapper">
    <div id="topbar">
      <div class="topbar-left">
        <ol class="breadcrumb">
          <li class="crumb-active"><a href="#">{{"ArticleCategory"|_}}</a></li>
          <li class="crumb-icon"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
          <li class="crumb-link"><a href="/">{{"Home"|_}}</a></li>
          <li class="crumb-trail">{{"ArticleCategory"|_}}</li>
        </ol>
      </div>
    </div>
    <div id="content">
      <div class="row">
<div class="col-md-12">
<div class="panel"><div class="panel-heading"> <span class="panel-title"> <span class="glyphicon glyphicon-file"></span> {{"ArticleCategory"|_}} </span> </div>
            <div class="panel-body">
              <form class="cmxform" id="altForm">
              <div class="form-group">
              <label class="control-label">要编辑的分类</label>
                    <select class="form-control" id="editDepart">
                    <option value="0"></option>
                            {%for i in options%}
                            <option value="{{i['id']}}">{{i['id']}}. {{i['item']}}</option>
                            {%endfor%}
                    </select>
                </div>
                <div class="alert alert-danger">不选择编辑的分类则为添加分类!</div>
                <div class="form-group">
                  <label class="control-label">{{"CategoryName"|_}}</label>
                  <input id="name" name="name" type="text" class="form-control" autocomplete="off" required="">
                </div>
                <div class="form-group">
              <label class="control-label">上级分类</label>
                    <select class="form-control" id="pid">
                    <option value="0"></option>
                            {%for i in options%}
                            <option value="{{i['id']}}">{{i['id']}}. {{i['item']}}</option>
                            {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                  <label class="control-label">{{"CategorySort"|_}}</label>
                  <div class="input-group">
                      <input id="sort_order" class="form-control ui-spinner-input" name="sort_order" value="0">
                    </div>

                </div>
                <div class="form-group">
                  <input class="submit btn bg-purple pull-right" type="submit" id="subBtn" value="{{"Submit"|_}}">
                </div>
              </form>
            </div>
          </div>
</div>
          </div>
        </div>
  </section>

{{partial ("layout/footer")}}
<script type="text/javascript" src="https://signposs1.oss-cn-shenzhen.aliyuncs.com/client/vendor/plugins/validate/jquery.validate.js"></script>
<script type="text/javascript" src="https://signposs1.oss-cn-shenzhen.aliyuncs.com/client/js/utility/spin.min.js"></script> 
<script type="text/javascript" src="https://signposs1.oss-cn-shenzhen.aliyuncs.com/client/js/main.js"></script>
<script type="text/javascript">

var multiselectConfig = {enableFiltering: true,maxHeight: 220,buttonWidth:"200px"};
function submitHandler(){
  var name = $.trim($('#name').val());
            var article_category_id = $('#editDepart').val();
            var pid = $('#pid').val();
            var sort_order = parseInt($('#sort_order').val());
            $('#subBtn').attr('disabled','disabled');
            $('#subBtn').parent().append('<img src="https://signposs1.oss-cn-shenzhen.aliyuncs.com/oss/Images/Icons/Load/load-7.gif" width="20" />');
            $.ajax('/{{routerProjectId}}/article/category', {
                data: {
                    name: name,
                    article_category_id: article_category_id,
                    pid: pid,
                    sort_order: sort_order
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    if (data.errcode == 0)
                    {
                        alert('操作成功');
                        location.reload();
                    }
                    else
                    {
                        alert(data.errmsg);
                    }
                },
                error: function(data)
                {
                    alert('服务器错误');
                }
            });
  return false;
}
var cateList = {{cates}};
jQuery(document).ready(function () {
   "use strict";
     // Init Theme Core
    Core.init();

    $("#sort_order").spinner({
      min: 0,
      max: 2500,
      step: 1,
      start: 0,
      //numberFormat: "C"
    });


    $('#altForm').validate({submitHandler:submitHandler,ignore: []});
    var depart = $('#editDepart');
        depart.change(function(event)
        {
            // Values
            if (this.value == 0) {
                $('#altForm')[0].reset();
                return false;
            }
            $('#name').val(this.value > 0 ? cateList[this.value]['name'] : '');
            $('#pid').val(this.value > 0 ? cateList[this.value]['pid'] : 0);
            $('#sort_order').val(this.value > 0 ? cateList[this.value]['sort_order'] : 0);
        });
    // $('.multiselect').multiselect(multiselectConfig);

});

</script>

</body>
</html>
