{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-bookmark">
        {%if categoryDetails is defined%}{{categoryDetails['name']}}{%else%}{{"ArticleList"|_}}{%endif%}
    </div>
    <div class="pull-right" style="margin-top: 20px;">
        <button type="button" class="am-btn am-btn-success am-btn-xs am-radius updateEquipment btn" id="infraredUpdate" onclick="location.href='/article/handle{%if categoryDetails is defined%}?article_category_id={{categoryDetails['article_category_id']}}{%endif%}';"> 添加文章</button>
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li class="am-active"><a href="/article/list" >{%if categoryDetails is defined%}{{categoryDetails['name']}}{%else%}{{"ArticleList"|_}}{%endif%}</a></li>
    </ol>
    <div class="tpl-portlet-components" style="overflow: visible">
        <div class="row" style="overflow: visible">
            <div class="portlet-title">
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-inline">
                        <select class="multiselect" data-am-selected="{searchBox: 1, maxHeight: 280, btnSize:'sm'}" title="全部文章" onchange="$('.btn').attr('disabled','disabled');$('#department_id').attr('disabled','disabled');location.href='/article/list?article_category_id='+this.value;">
                            <option value=" ">全部文章</option>
                            {%for i in articleCategory%}
                            <option value="{{i['id']}}" {{ filter['article_category_id']==i['id'] ? "selected" : null }}>{{i['item']}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
            </div>
            <form class="am-form">
                <fieldset>
                    <table class="am-table am-table-striped am-table-hover am-table-compact">
                        <thead>
                        <tr>
                            <th style="width: 50%">标题</th>
                            <th nowrap="">分类</th>
                            <th nowrap="">状态</th>
                            <th nowrap="">发布时间</th>
                            <th nowrap="">语言</th>
                            <th nowrap="">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for i in list%}
                        <tr id="article_{{i['article_id']}}">
                            <td>{{i['article_title']}}</td>
                            <td nowrap="">{{i['cate_name']}}</td>
                            <td nowrap>
                                {%if i['article_status']==1%}<span class="label label-success">发布</span>
                                {%elseif i['article_status']==0%}<span class="label label-default">关闭</span>
                                {%endif%}
                            </td>
                            <td nowrap>{{date("Y-m-d",i['article_create_at'])}}</td>
                            <td nowrap>{%if i['article_locale']=='zh_CN'%}中文{%elseif i['article_locale']=='en_US'%}English{%endif%}</td>
                            <td nowrap>
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-secondary am-radius btn" onclick="location.href ='/article/handle?article_id={{i['article_id']}}';">{{"Edit"|_}}</button>
                                    <button type="button" class="am-btn am-btn-danger am-radius deleteBtn btn" data-id="{{i['article_id']}}" style="margin-left: 10px">{{"Delete"|_}}</button>
                                </div>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        function deleteArticle(id){
            $('.btn').attr('disabled','disabled');
            $.ajax('/article/ajaxdelete', {
                data: {
                    article_id:id,
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    if (data.code == 0)
                    {
                        $('#article_'+id).remove()
                    }else{
                        alert(data.msg);
                    }
                },
                error: function()
                {
                    alert('服务器错误');
                },
                complete:function(){
                    $('.btn').removeAttr('disabled');
                }
            });
        }
        jQuery(document).ready(function () {
            "use strict";
            // Init Theme Core
            $('.deleteBtn').each(function(){
                $(this).on('click',function(){
                    if (confirm("确定要删除此文章？")){
                        $(this).parent().append('<img src="https://signposs1.oss-cn-shenzhen.aliyuncs.com/oss/Images/Icons/Load/load-7.gif" width="20" />');
                        deleteArticle($(this).attr('data-id'))
                    }
                });
            })
        });
    </script>

{% endblock %}