<link rel="stylesheet" href="/new/css/header.css">

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand homePage">
        <a href="/" class="tpl-logo" style="color: #000;">
            项目管理平台
        </a>
    </div>

    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
        <span class="am-sr-only">导航切换</span>
        <span class="am-icon-bars"></span>
    </button>

    <div id="settings_menu">
        {%if user['projectDetails'] is defined%}
            <button class="am-btn {{ user['projectDetails']['project_emergency_evacuation']==1 ? 'am-btn-danger' : 'am-btn-success' }} am-btn-sm" onclick="location.href='/evacuate/opt';" style="margin-right: 20px;">
                {{ user['projectDetails']['project_emergency_evacuation']==1 ? '撤销紧急疏散' : '紧急疏散' }}
            </button>
            <span style="margin-right: 10px;">当前管理项目:</span>
            <select id="projectNow" data-am-selected="{searchBox: 1, btnSize:'sm'}" title="当前管理项目">
                {%for i in itemProjectList%}
                <option value="{{i['project_id']}}" {{i['project_id']==user['project_id'] ? 'selected' : null}}>{{i['project_name']}}</option>
                {%endfor%}
            </select>
        {%endif%}
    </div>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-hide-sm-only">
                <a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link">
                    <span class="am-icon-arrows-alt"></span>
                    <span class="admin-fullText">开启全屏</span>
                </a>
            </li>

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick">{{ user['item_account_username'] }}</span>
                    <span class="tpl-header-list-user-ico">
                        <img class="br64" src="{{ user['item_account_avatar'] is defined and user['item_account_avatar'] is not empty ? user['item_account_avatar'] : '/user_default.jpg' }}">
                    </span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="/index/refresh"><span class="am-icon-bell-o"></span> 刷新</a></li>
                    <li><a href="/passport/changepass"><span class="am-icon-cog"></span> 修改密码</a></li>
                    <li><a href="/passport/logout"><span class="am-icon-power-off"></span> {{ "Sign Out"|_ }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>