{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-ellipsis-h">
        {{"polygonsortHandle"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{ "polygonsortManage"|_ }}</li>
        <li class="am-active"><a href="/polygonsort/handle" >{{"polygonsortHandle"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row" style="min-height: 500px">
            <form class="am-form">
                <fieldset>
                    <input type="hidden" id="project_polygon_sort_id" class="formData" value="{{details['project_polygon_sort_id']}}" />
                    <div class="am-form-group">
                        <label for="map_id">楼层: </label>
                        <div>
                            <select class="formData" id="map_id" required data-am-selected="{searchBox: 1, maxHeight: 250, btnSize: 'sm'}">
                                <option value="0">选择楼层</option>
                                {%for i in mapList%}
                                <option value="{{i['map_id']}}" {{ i["map_id"]==details['map_id'] ? 'selected' : null }}>{{i['map_name']}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="map_gid">点位: </label>
                        <div>
                            <select class="formData" id="map_gid" required data-am-selected="{searchBox: 1, maxHeight: 250, btnSize: 'sm'}">
                                <option value=" ">请先选择楼层</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="timeBucket">时间段: </label>
                        <input id="timeBucket" name="timeBucket" type="text" class="form-control formData" maxlength="10" autocomplete="off" value="{%if details['project_polygon_sort_startTime']%}{{date('Y/m/d H:i',details['project_polygon_sort_startTime'])}} - {{date('Y/m/d H:i',details['project_polygon_sort_endTime'])}}{%endif%}" readonly>
                    </div>
                    <div class="am-form-group">
                        <button type="button" class="am-btn am-btn-secondary am-btn-sm am-radius pull-right" id="subBtn"> {{'save'|_}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/laydate/laydate.js"></script>
    <script type="text/javascript">
        function formatDate(now) {
            var year = now.getFullYear(),
                month = now.getMonth() + 1,
                date = now.getDate();

            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }

            if (date >= 1 && date <= 9) {
                date = "0" + date;
            }

            return year + "/" + month + "/" + date + ' 00:00 - ' + year + "/" + month + "/" + date + ' 23:59';
        }

        var date_time = $('#timeBucket').val() ? $('#timeBucket').val() : formatDate(new Date());

        laydate.render({
            elem: '#timeBucket',
            type: 'datetime',
            position: 'fixed',
            calendar: true,
            range: true,
            btns: ['confirm'],
            format: 'yyyy/MM/dd HH:mm',
            value: date_time,
        });

        function submitHandler(){
            var postData = {};
            $('.formData').each(function(){
                postData[this.id] = $.trim(this.value);
            });
            if (!postData.map_gid){
                alert('请选择点位');
                return;
            }

            if (postData.timeBucket===''){
                alert('请选择时间');
                return;
            }
            var l = Ladda.create(document.querySelector('#'+this.id));
            l.start();
            $.ajax('/polygonsort/handle', {
                data: postData,
                type: 'post',
                dataType: 'json',
                success: function(data){
                    alert(data.msg);
                    if (data.code == 0)
                    {
                        location.href= '/polygonsort/list';
                    }else{
                        l.stop();
                    }
                },
                error: function()
                {
                    alert('操作失败，请重试s');
                    l.stop();
                },
                complete:function(){
                    $('#subBtn').removeAttr('disabled');
                    $('#subLoading').remove();
                }
            });
            return false;
        }
        $(document).ready(function () {
            "use strict";
            $('#map_id').bind('change',function(){
                if (this.value>0) {
                    $.ajax('/polygon/ajaxgetlistbymapid', {
                        data: {mapId: this.value},
                        type: 'post',
                        dataType: 'json',
                        success: function (data) {
                            var html = '';
                            if (data.code === 0) {
                                html+='<option value=" " disabled>选择点位</option>';
                                for(var i=0;i<data.data.length;i++){
                                    var selected = '';
                                    if (data.data[i].map_gid=='{{details["map_gid"]}}') selected = ' selected';
                                    html+= '<option value="'+data.data[i].map_gid+'"'+selected+'>'+data.data[i].name+'</option>';
                                }
                            }
                            $('#map_gid').selected('enable').html(html);
                        },
                        error: function () {
                            alert('服务器错误');
                        }
                    });
                }else{
                    $('#map_gid').selected('disable').html('<option value=" ">请先选择楼层</option>');
                }
            });

            $('#subBtn').bind('click',submitHandler);

            $('#map_gid').selected('disable');

            {%if details['map_id']>0%}
            $('#map_id').trigger('change');
            {%endif%}
        });
    </script>

{% endblock %}