{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-ellipsis-v">
        {{"polygonsortList"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{ "polygonsortManage"|_ }}</li>
        <li class="am-active"><a href="/polygonsort/list" >{{"polygonsortList"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row">
            <div class="tpl-block">
                <div class="portlet-title">
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon">
                                <button type="button" class="am-btn am-btn-secondary am-btn-xs  am-radius pull-right" id="sendToEquipment">
                                    <span class="am-icon-location-arrow"> 推送至设备</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover am-table-compact" style="font-size: 12px;">
                                <thead>
                                <tr>
                                    <th class="table-author am-hide-sm-only">{{'Name'|_}}</th>
                                    <th class="table-date am-hide-sm-only">时间段</th>
                                    <th class="table-set" style="width: 10%;">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for i in polygonSort['data']%}
                                <tr>
                                    <td class="am-hide-sm-only">{{i['name']}} [ {{i['map_name']}} ]</td>
                                    <td class="am-hide-sm-only">{%if i['project_polygon_sort_endTime']>time()%}{{date("Y-m-d H:i",i['project_polygon_sort_startTime'])}} ~ {{date("Y-m-d H:i",i['project_polygon_sort_endTime'])}}{%else%}<span style="color: red;">已失效</span>{%endif%}</td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button" class="am-btn am-text-secondary editBtn" data-id="{{i['project_polygon_sort_id']}}" style="background-color: white;border-color: #d9d9d9;"><span class="am-icon-pencil-square-o"></span> {{"edit"|_}}</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {%endfor%}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            "use strict";
            $('.editBtn').bind('click',function(){
                var id = $(this).attr('data-id');
                location.href = '/polygonsort/handle?id='+id;
            });
            $('#sendToEquipment').bind('click',function(){
                if(confirm('确定更新设备排序？')) {
                    $.ajax('https://apiequipment.signp.cn/polygonsort', {
                        data: {project_id: '{{user["project_id"]}}'},
                        type: 'post',
                        dataType: 'json',
                        success: function (data) {
                            if (data.errcode == 0) {
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            // console.log(xhr.status, thrownError);
                        }
                    });
                }
            });
        });
    </script>

{% endblock %}