{% extends "layout/main.html" %}

{% block content %}

    <section id="content_wrapper">
        <div id="content" class="pn">
            <h1 class="error-title"> 401! </h1>
            <h2 class="error-subtitle">Unauthorized.</h2>
        </div>
    </section>

    <!--{{javascript_include('client/js/main.js')}}-->
    <script>
        jQuery(document).ready(function () {
            "use strict";
            // Init Theme Core
            // Core.init();
        });
    </script>

{% endblock %}