{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-user-md">
        {{"DoctorJob"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{'DoctorManage'|_}}</li>
        <li class="am-active"><a href="/doctor/job" >{{"DoctorJob"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components" style="overflow: visible">
        <div class="row" style="overflow: visible">
            <form class="am-form" id="altForm">
                <fieldset>
                    <div class="am-form-group">
                        <label for="editDepart">要编辑的职称</label>
                        <div>
                            <select id="editDepart" data-am-selected="{searchBox: 1, maxHeight: 250, btnSize:'sm'}" placeholder="请选择要编辑的职称">
                                <option value="0"></option>
                                {%for i in jobList%}
                                <option value="{{i['doctor_job_id']}}">{{i['doctor_job_title']}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="am-alert am-alert-danger">不选择编辑的职称则为添加职称!</div>
                    <div class="am-form-group">
                        <label for="name">{{"DoctorJobTitle"|_}}</label>
                        <input id="name" name="name" type="text" class="form-control" autocomplete="off" required="">
                    </div>
                    <div class="am-form-group">
                        <button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius pull-right" id="subBtn"> {{'Submit'|_}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    {{javascript_include('client/vendor/plugins/validate/jquery.validate.js')}}
    {{javascript_include('client/vendor/plugins/validate/messages_zh.min.js')}}
    <script type="text/javascript">
        function submitHandler(){
            var name = $.trim($('#name').val());
            var id = $('#editDepart').val();
            $('#subBtn').attr('disabled','disabled');
            var l = Ladda.create(document.querySelector('#subBtn'));
            l.start();
            $.ajax('/doctor/job', {
                data: {
                    name: name,
                    id: id,
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    if (data.code == 0)
                    {
                        layer.alert('操作成功', {
                            icon: 1,
                            yes: function () {
                                location.reload();
                            }
                        });
                    } else {
                        layer.alert(data.msg, {icon: 2});
                        l.stop();
                    }
                    $('#subBtn').removeAttr('disabled');
                },
                error: function(data)
                {
                    l.stop();
                    layer.alert('服务器错误', {icon: 3});
                    $('#subBtn').removeAttr('disabled');
                }
            });
            return false;
        }
        var jobListJson = {{jobListJson}};
        jQuery(document).ready(function () {
            "use strict";
            $('#altForm').validate({submitHandler:submitHandler,ignore: ''});
            var depart = $('#editDepart');
            depart.change(function(event)
            {
                // Values
                if (this.value == 0) {
                    $('#altForm')[0].reset();
                    return false;
                }
                $('#name').val(this.value > 0 ? jobListJson[this.value]['doctor_job_title'] : '');
            });
        });
    </script>

{% endblock %}