{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-building-o">
        {{"DoctorDepartmentInfo"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{"DoctorDepartmentManage"|_}}</li>
        <li class="am-active"><a href="/doctordepartment/department" >{{"DoctorDepartmentInfo"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row">
            <form class="am-form" id="altForm">
                <fieldset>
                    <div class="am-form-group">
                        <label for="editDepart">要编辑的科室 </label>
                        <p align="right" style="display: none; margin: 0;" id="delDepartment">
                            <input class="am-btn am-btn-danger am-btn-xs am-radius" type="button" id="delBtn" value="{{'Delete'|_}}">
                        </p>
                        <div>
                            <select id="editDepart" data-am-selected="{searchBox: 1, maxHeight: 250, btnSize:'sm'}">
                                <option value="0"></option>
                                {%for i in departmentList%}
                                <option value="{{i['id']}}">{{i['item']}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="am-alert am-alert-danger">不选择编辑的科室则为添加科室!</div>
                    <div class="am-form-group">
                        <label for="map_id">{{'MapName'|_}} </label>
                        <div>
                            <select id="map_id" required data-am-selected="{searchBox: 1, maxHeight: 250, btnSize:'sm'}">
                                <option value="0"></option>
                                {%for i in mapList%}
                                <option value="{{i['map_id']}}">{{i['map_name']}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="name">{{"DoctorDepartmentName"|_}}</label>
                        <input id="name" name="name" type="text" class="form-control" autocomplete="off" required>
                    </div>
                    <div class="am-form-group">
                        <label for="pid">上级科室</label>
                        <div>
                            <select id="pid" data-am-selected="{searchBox: 1, maxHeight: 250, btnSize:'sm'}">
                                <option value="0" selected>---</option>
                                {%for i in departmentList%}
                                <option value="{{i['id']}}">{{i['item']}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="intro">{{"Intro"|_}}</label>
                        <textarea id="intro" name="intro" class="form-control" required></textarea>
                    </div>
                    <div class="am-form-group">
                        <button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius pull-right" id="subBtn"> {{'Submit'|_}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    {{javascript_include('client/vendor/editors/ckeditor/ckeditor.js')}}
    {{javascript_include('client/vendor/plugins/validate/jquery.validate.js')}}
    {{javascript_include('client/vendor/plugins/validate/messages_zh.min.js')}}
    <script type="text/javascript">
        function submitHandler(){
            var name = $.trim($('#name').val());
            var department_id = $('#editDepart').val();
            var map_id = $('#map_id').val();
            var pid = $('#pid').val();
            pid = pid == ''?0:pid;
            var intro = $.trim(CKEDITOR.instances['intro'].getData());
            $('.btn').attr('disabled','disabled');
            $('select').attr('disabled','disabled');
            var l = Ladda.create(document.querySelector('#subBtn'));
            l.start();
            $.ajax('/doctordepartment/department', {
                data: {
                    name: name,
                    department_id: department_id,
                    pid: pid,
                    intro: intro,
                    map_id: map_id,
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    layer.alert(data.msg, {
                        yes: function (index) {
                            if (data.code == 0)
                            {
                                location.reload();
                            }
                            layer.close(index);
                        }
                    });

                },
                error: function(data)
                {
                    l.stop();
                    layer.alert('服务器错误', {icon: 3});
                },
                complete:function(){
                    l.stop();
                    $('.btn').removeAttr('disabled');
                    $('select').removeAttr('disabled');
                }
            });
            return false;
        }
        var cateList = {{cates}};
        jQuery(document).ready(function () {
            "use strict";
            $('#altForm').validate({submitHandler:submitHandler,ignore: []});
            var depart = $('#editDepart');
            depart.change(function(event)
            {
                // Values
                let _deparmentId = this.value,
                    _delDepartment = $('#delDepartment');
                _delDepartment.hide().unbind('click');
                if (_deparmentId == 0) {
                    $('#altForm')[0].reset();
                    $('.btn').removeAttr('disabled');
                    $('select').removeAttr('disabled');
                    CKEDITOR.instances['intro'].setData('')
                    return false;
                }

                _delDepartment.css('display','inline').bind('click',function(){
                    layer.confirm('删除 '+cateList[_deparmentId]['name'] +' ? 其科室医生将处于无科室状态!', function (index) {
                        $('.layui-layer-btn0').css('pointer-events', 'none');
                        layer.close(index);
                        $('.btn').attr('disabled','disabled');
                        $('select').attr('disabled','disabled');
                        let l = Ladda.create(document.querySelector('#subBtn'));
                        l.start();
                        $.ajax('/doctordepartment/ajaxdeletedepartment', {
                            data: {
                                department_id: _deparmentId,
                            },
                            type: 'post',
                            dataType: 'json',
                            success: function(data)
                            {
                                layer.alert(data.msg, {
                                    yes: function (index) {
                                        if (data.code == 0)
                                        {
                                            location.reload();
                                        }
                                        layer.close(index);
                                    }
                                });
                            },
                            error: function(data)
                            {
                                l.stop();
                                layer.alert('服务器错误', {icon: 3});
                            },
                            complete:function(){
                                l.stop();
                                $('.btn').removeAttr('disabled');
                                $('select').removeAttr('disabled');
                            }
                        });
                    });
                });

                let pid = _deparmentId > 0 ? (cateList[_deparmentId]['pid']!==null ? cateList[_deparmentId]['pid'] : 0) : 0,
                    map_id = _deparmentId > 0 ? cateList[_deparmentId]['map_id'] : 0;

                $("#pid option:selected").removeAttr('selected');
                $("#map_id option:selected").removeAttr('selected');

                $("#pid option[value=" + pid + "]").attr('selected', true).trigger('changed.selected.amui');
                $("#map_id option[value=" + map_id + "]").attr('selected', true).trigger('changed.selected.amui');

                $('#name').val(_deparmentId > 0 ? cateList[_deparmentId]['name'] : '');
                $('#intro').val(_deparmentId !=='' ? CKEDITOR.instances['intro'].setData(cateList[_deparmentId]['intro']) : '');
            });
            CKEDITOR.replace( 'intro');
        });
    </script>

{% endblock %}