{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-user">
        {{"AccountGroup"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{"AccountManage"|_}}</li>
        <li class="am-active"><a href="/account/group" >{{"AccountGroup"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row">
            <form class="am-form" id="altForm">
                <fieldset>
                    <div class="am-form-group">
                        <label class="control-label" for="editDepart">要编辑的分组</label>
                        <div>
                            <select id="editDepart" data-am-selected="{searchBox: 1, maxHeight: 200, btnSize:'sm'}">
                                <option value="0"></option>
                                {%for i in clientGroupList%}
                                <option value="{{i['client_group_id']}}">{{i['client_group_name']}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="am-alert am-alert-danger">不选择编辑的分组则为添加分组!</div>
                    <div class="am-form-group">
                        <label class="control-label" for="name">{{"AccountGroupName"|_}}</label>
                        <input id="name" name="name" type="text" class="form-control" autocomplete="off" required>
                    </div>
                    <div class="am-form-group">
                        <label class="control-label" for="role">{{"AccountGroupRole"|_}}</label>
                        <span>(必须为英文字母 20位以内)</span>
                        <input id="role" name="role" class="form-control" autocomplete="off" required>
                    </div>
                    <div class="am-form-group">
                        <button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius pull-right" id="subBtn"> {{'Submit'|_}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    {{javascript_include('client/vendor/plugins/validate/jquery.validate.js')}}
    {{javascript_include('client/vendor/plugins/validate/messages_zh.min.js')}}
    <script type="text/javascript">
        function submitHandler(){
            var id = $('#editDepart').val();
            var name = $.trim($('#name').val());
            var role = $.trim($('#role').val());
            if (role=='administrator'){
                alert('管理员无法被编辑');
                return false;
            }
            $('#subBtn').attr('disabled', 'disabled');
            var l = Ladda.create(document.querySelector('#subBtn'));
            l.start();
            $.ajax('/account/group', {
                data: {
                    name: name,
                    id: id,
                    role: role,
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    alert(data.msg);
                    if (data.code == 0)
                    {
                        location.reload();
                    }else{
                        $('#subBtn').removeAttr('disabled');
                    }
                    l.stop();
                },
                error: function(data)
                {
                    l.stop();
                    alert('服务器错误');
                },
                complete:function(){
                    l.stop();
                }
            });
            return false;
        }
        var cateList = {{cates}};
        jQuery(document).ready(function () {
            "use strict";
            // Init Theme Core
            jQuery.validator.addMethod("char", function(value, element) {
                var tel =  /^[a-zA-Z]{1,20}$/;
                return this.optional(element) || (tel.test(value));
            }, "必须为英文字母 20位以内");
            $('#altForm').validate({submitHandler:submitHandler,ignore: []});
            var depart = $('#editDepart');
            depart.change(function(event)
            {
                // Values
                if (this.value == 0) {
                    $('#altForm')[0].reset();
                    return false;
                }
                $('#name').val(this.value > 0 ? cateList[this.value]['client_group_name'] : '');
                $('#role').val(this.value > 0 ? cateList[this.value]['client_group_role'] : '');
            });
            // $('.multiselect').multiselect(multiselectConfig);

        });
    </script>

{% endblock %}