{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-user">
        {{"AccountGroupAccess"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{"AccountManage"|_}}</li>
        <li class="am-active"><a href="/account/groupaccess" >{{"AccountGroupAccess"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components"  style="overflow: visible">
        <div class="row"  style="overflow: visible">
            <form class="am-form" id="altForm">
                <fieldset>
                    <div class="am-form-group">
                        <label for="editDepart">选择分组</label>
                        <div>
                            <select id="editDepart" data-am-selected="{searchBox: 1, maxHeight: 200, btnSize:'sm'}">
                                <option value="0"></option>
                                {%for i in groupList%}
                                <option value="{{i['client_group_id']}}"{{ filter['group_id']==i['client_group_id'] ? 'selected' : null }}>{{i['client_group_name']}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    {%if resource is defined%}
                    {%for k,i in resource%}
                    <div class="am-form-group">
                        <label class="am-u-md-12">{{i['name']}}</label>
                        <div class="am-u-md-12">
                            {%for a in i['actions']%}
                            <div class="cBox cBox-teal cBox-inline">
                                <input type="checkbox" data-controller="{{k}}" id="{{k}}_{{a['action']}}" value="{{a['action']}}"{%if a['allowed']%} checked=""{%endif%}>
                                <label for="{{k}}_{{a['action']}}">{{a['name']}}</label>
                            </div>
                            {%if a['bind'] is defined%}
                            {%for b in a['bind']%}
                            <input type="hidden" class="{{k}}_{{a['action']}}_bind" value="{{b}}">
                            {%endfor%}
                            {%endif%}
                            {%endfor%}
                        </div><br /><br /><br />
                    </div>
                    {%endfor%}
                    <div class="am-form-group">
                        <button type="button" class="am-btn btn am-btn-secondary am-btn-sm am-radius pull-right" id="subBtn"> {{'Submit'|_}}</button>
                    </div>
                    {%endif%}
                </fieldset>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        function submitHandler(){
            let groupId = $('#editDepart').val();
            if (groupId==0){
                layer.alert('请选择分组!', {icon: 0});
                return;
            }
            let accessList = [];
            $('input[type=checkbox]').each(function(){
                if (this.checked){
                    let controller = $(this).attr('data-controller'),
                        val = this.value;
                    accessList.push({"controller":controller , "action":val});
                    $('.'+controller+'_'+val+'_bind').each(function(){
                        accessList.push({"controller":controller , "action":val})
                    })
                }
            });
            if (accessList.length==0){
                if (!confirm("确定不授予任何权限？")){
                    return
                }
            }
            $('.btn').attr('disabled', 'disabled');
            let l = Ladda.create(document.querySelector('#subBtn'));
            l.start();
            $.ajax('/account/groupaccess', {
                data: {
                    data: JSON.stringify(accessList),
                    groupId: groupId,
                },
                type: 'post',
                dataType: 'json',
                success: function(data)
                {
                    layer.alert(data.msg, {
                        yes: function (index) {
                            if (data.code == 0)
                            {
                                location.reload();
                            }else{
                                $('.btn').removeAttr('disabled');
                            }
                            layer.close(index);
                        }
                    });
                    l.stop();
                },
                error: function()
                {
                    l.stop();
                    layer.alert('服务器错误', {icon: 3});
                    $('.btn').removeAttr('disabled');
                },
                complete:function(){
                    l.stop();
                }
            });
            return false;
        }
        jQuery(document).ready(function () {
            "use strict";
            let depart = $('#editDepart');
            depart.change(function()
            {
                depart.attr('disabled','disabled');
                location.href='/account/groupaccess?group_id='+depart.val();
            });
            $('#subBtn').bind('click',submitHandler);
        });
    </script>

{% endblock %}