{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-user">
        {{"AccountList"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{"AccountManage"|_}}</li>
        <li class="am-active"><a href="/account/list" >{{"AccountList"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row">
            <form class="am-form">
                <fieldset>
                    <table class="am-table am-table-striped am-table-hover am-table-compact">
                        <thead>
                        <tr>
                            <th>图片</th>
                            <th style="width: 15%;">{{'Name'|_}}</th>
                            <th>{{'NickName'|_}}</th>
                            <th>分组</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for i in accountList%}
                        <tr>
                            <td>{%if i['client_image']%}<img src="{{i['client_image']}}" width="50px" />{%endif%} </td>
                            <td><input type="text" class="form-control" title="name_{{i['client_wx_openid']}}" value="{{i['client_realname']}}" id="name_{{i['client_wx_openid']}}" /> </td>
                            <td>{{i['client_name']}} </td>
                            <td>
                                <select id="group_{{i['client_wx_openid']}}" title="分组" data-am-selected="{btnSize:'sm', btnWidth: 110}">
                                    {%for g in groupList%}
                                    <option value="{{g['client_group_id']}}" {{ i['client_group_id']==g['client_group_id'] ? 'selected' : null }}>{{g['client_group_name']}}</option>
                                    {%endfor%}
                                </select>
                            </td>
                            <td nowrap>
                                <select id="status_{{i['client_wx_openid']}}" title="状态" data-am-selected="{btnSize:'sm', btnWidth: 60}">
                                    <option value="1" {{ i['client_status']==1 ? 'selected' : null }}>正常</option>
                                    <option value="0" {{ i['client_status']==0 ? 'selected' : null }}>禁用</option>
                                </select>
                            </td>
                            <td nowrap>{{date("Y-m-d H:i",i['client_create_at'])}}</td>
                            <td nowrap>
                                <button type="button" class="am-btn btn am-btn-secondary am-btn-xs am-radius editBtn" data-id="{{i['client_wx_openid']}}"> {{"Edit"|_}}</button>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            "use strict";
            $('.editBtn').bind('click',function(){
                var openid = $(this).attr('data-id');
                var name = $.trim($('#name_'+openid).val());
                var group_id = $('#group_'+openid).val()
                var status = $('#status_'+openid).val()
                if (name==''){
                    alert('请填写名称');
                    return;
                }
                if (confirm('确定编辑人员？')){
                    $('.btn').attr('disabled','disabled');
                    var l = Ladda.create(this);
                    l.start();
                    $.ajax('/account/ajaxhandle', {
                        data: {
                            openid:openid,
                            name:name,
                            group_id:group_id,
                            status:status,
                        },
                        type: 'post',
                        dataType: 'json',
                        success: function(data) {
                            alert(data.msg);
                            if (data.code == 0) {
                                location.reload();
                            }
                            l.stop();
                        },
                        complete: function() {
                            l.stop();
                            $('.btn').removeAttr('disabled');
                        }
                    });
                }
            })
        });
    </script>

{% endblock %}