{% extends "layout/main.html" %}

{% block content %}

    <div class="tpl-content-page-title am-icon-exclamation">
        {{"MapWarning"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li class="am-active"><a href="/map/warning" >{{"MapWarning"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-8 am-u-lg-8" id="map"></div>
                <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
                    <div class="am-panel am-panel-danger" id="ibeaconPanel">
                        <div class="am-panel-hd">
                            <span class="am-icon-book"> 救援列表 </span>
                        </div>
                        <div class="am-panel-bd">
                            <table class="am-table" id="warningListTable">
                                <tbody>
                                {%for i in warningList%}
                                <tr id="warning_{{i['warning_id']}}">
                                    <td style="text-align: left;width:1%" nowrap="" class="small">{{date("Y-m-d H:i", i['warning_time'])}}</td>
                                    <td nowrap="">{%if i['warning_status']==0%}等待救援{%elseif i['warning_status']==1%}正在救援{%endif%}</td>
                                    <td nowrap style="width:1%">
                                        <button type="button" class="am-btn am-btn-secondary am-btn-xs am-radius pull-right" data-id="{{i['warning_id']}}"> {{"View"|_}}</button>
                                    </td>
                                </tr>
                                {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{javascript_include("leaflet/leaflet1.0.3.js")}}
    {{javascript_include("leaflet/L.Icon.Pulse.js")}}
    {{javascript_include("leaflet/leaflet.polylineDecorator.js")}}
    {{javascript_include("leaflet/MovingMarker.js")}}
    <script type="text/javascript">
    var len = 0.002197;
    var warningMarker;
    var warningListJson = {{warningListJson}};
    var sh = $(window).height()-400;

    var redPulse = {heartbeat: 2,color:"red"};
    var greyPulse = {heartbeat: 2,color:"grey"};
    var greenPulse = {heartbeat: false,color:"green"};
    var pulsingIcon = L.icon.pulse(redPulse);
    $('#map').css({'height':sh+'px'});
    $('#details').css({'height':sh+'px'});
    var mapId = '{{filter['map_id']}}';
    var center = [0,0];
    {%if clientMapSetting[4] is defined%}
    center = '{{clientMapSetting[4]}}'.split('|');
    {%endif%}
    var maxBounds = L.latLngBounds([-len*'{{clientMapSetting[3]}}',-len*'{{clientMapSetting[2]}}'], [len*'{{clientMapSetting[3]}}',len*'{{clientMapSetting[2]}}']);
    var params = {
        format: 'image/jpg',
        minZoom: '{{clientMapSetting[0]}}',
        maxZoom: '{{clientMapSetting[1]}}',
        detectRetina: true,
        attribution: ""
    };
    var map = L.map('map', {
        center: center,
        zoom: '{{clientMapSetting[0]}}',
    //    maxBounds:maxBounds,
        zoomControl: true
    });
    var lastMapId;
    var mapLayer;
    function viewWarning(){
        console.log($(this).attr('data-id'));
        if (warningListJson[$(this).attr('data-id')]===undefined){
            alert('数据读取失败，请刷新页面重试！');
            return;
        }
        var data = warningListJson[$(this).attr('data-id')];
        if (data.map_id!=lastMapId) {
            if (mapLayer!==undefined && map.hasLayer(mapLayer)) {
                map.removeLayer(mapLayer);
            }
            mapLayer = L.tileLayer('https://signposs1.oss-cn-shenzhen.aliyuncs.com/maps/' + data.map_id + '/zh_CN/{z}/{x}/{y}.jpg', params);
            map.addLayer(mapLayer);
            lastMapId = data.map_id;
        }
        if (warningMarker!==undefined && map.hasLayer(warningMarker)){
            map.removeLayer(warningMarker);
        }
        warningMarker =L.marker([data.warning_lat,data.warning_lng], {
            icon: pulsingIcon,
        });

        map.addLayer(warningMarker).panTo([data.warning_lat,data.warning_lng]);
    }
    jQuery(document).ready(function () {
        "use strict";
        $('.viewBtn').bind('click',viewWarning);

        socket.on('new_msg', function(msg){
            console.log(msg);
            msg = eval("("+msg+")");
            if (msg.cmd==='warningUpdate'){
                warningListJson[msg.context.warning_id] = msg.context;
                console.log(msg.context);
                $('#warningListTable tbody').append('<tr id="warning_'+msg.context.warning_id+'"><td style="text-align: left;width:1%" nowrap="" class="small">'+msg.context.warning_time+'</td><td nowrap="">等待救援</td><td nowrap style="width:1%"><button type="button" class="btn btn-info btn-xs viewBtn" data-id="'+msg.context.warning_id+'">{{"View"|_}}</button></td></tr>');
                $('.viewBtn').unbind('click').bind('click',viewWarning);
            }
        });
    });
    </script>

{% endblock %}