{% extends "layout/main.html" %}

{% block content %}

    <link rel="stylesheet" href="/amazeuidatatables/amazeui.datatables.css"/>
    <div class="tpl-content-page-title am-icon-th-list">
        {{"CoverList"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home">首页</a></li>
        <li>{{"CoverManage"|_}}</li>
        <li class="am-active"><a href="/images/coverlist" >{{"CoverList"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row">
            <form class="am-form">
                <fieldset>
                    <table class="am-table am-table-striped am-table-hover am-table-compact" id="datatable">
                        <thead>
                        <tr>
                            <th nowrap="">图片</th>
                            {#<th nowrap="">路径</th>#}
                            <th nowrap="">是否为封面</th>
                            <th nowrap="">上传时间</th>
                            <th style="width:1%" class="hidden-xs">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if imageList is not empty %}
                        {%for i in imageList%}
                        <tr id="image_{{i['images_id']}}">
                            <td nowrap="">{%if i['images_path'] is defined%}<img src="{{ i['images_path_source']=='oss' ? ali_path ~ i['images_path'] : i['images_path'] }}" height="96" width="54"/>{%else%}<img src="/client/crash.png " width="50"/>{%endif%}</td>
                            {#<td class="text-left">{{i['images_path']}}</td>#}
                            <td class="text-left">{{ i['images_main']==1 ? '是' : '否' }}</td>
                            <td class="text-left">{{date('Y-m-d H:i:s', i['images_create_at'])}}</td>
                            <td nowrap>
                                <button type="button" class="am-btn am-btn-secondary am-btn-xs am-radius" onclick="SettingsCover({{i['images_id']}}, {{ i['images_main']==1 ? 0 : 1 }}, '{{ i['images_main']==1 ? "NoSettingsCover"|_ : "SettingsCover"|_ }}')" style="margin-left: 10px">{{ i['images_main']==1 ? "NoSettingsCover"|_ : "SettingsCover"|_ }}</button>
                                {% if i['images_main']!=1 %}
                                <button type="button" class="am-btn am-btn-danger am-btn-xs am-radius" onclick="DeleteImage({{i['images_id']}})" style="margin-left: 10px">{{"DeleteImage"|_}}</button>
                                {% endif %}
                            </td>
                        </tr>
                        {%endfor%}
                        {% endif %}
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>

    <script src="/amazeuidatatables/amazeui.datatables.min.js"></script>
    <script type="text/javascript">
        // 封面设置.
        function SettingsCover(images_id, images_main, msg)
        {
            var r = confirm('确认'+msg+'吗?');
            if (r == true) {
                $.ajax('/images/coverlist', {
                    type: "POST",
                    dataType: 'JSON',
                    data: {
                        'images_id': images_id,
                        'images_main': images_main
                    },
                    success:function(data){
                        if(data.code == 0) {
                            alert(data.msg);
                            location.reload();
                        }else{
                            alert(data.msg);
                        }
                    },
                    error:function(){
                        alert('操作失败，请稍后重试！');
                    }
                })
            }
        }

        // 删除图片.
        function DeleteImage(images_id)
        {
            var r = confirm('确认删除选择图片吗？');
            if (r == true) {
                $.ajax('/images/deleteimage', {
                    type: "POST",
                    dataType: 'JSON',
                    data: {
                        'images_id': images_id,
                    },
                    success:function(data){
                        if(data.code == 0) {
                            alert(data.msg);
                            $("#image_"+images_id).remove();
                            location.reload();
                        }else if(data.code == 400){
                            alert(data.data);
                        }else{
                            alert(data.msg);
                        }
                    },
                    error:function(){
                        alert('操作失败，请稍后重试！');
                    }
                })
            }
        }

        jQuery(document).ready(function () {
            "use strict";
            // Init Theme Core
            $('#datatable').dataTable({
                "iDisplayLength": 10,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            });
            $('.dataTables_length select').attr('data-am-selected', "{btnWidth: '38%', btnSize: 'sm'}");
            $('.dataTables_filter input').attr("placeholder", "搜索");
        });
    </script>

{% endblock %}