{% extends "layout/main.html" %}

{% block content %}

    <link rel="stylesheet" href="/amazeuidatatables/amazeui.datatables.css"/>
    <div class="tpl-content-page-title am-icon-th-list">
        {{"CoverList"|_}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-icon-home homePage">首页</a></li>
        <li>{{"CoverManage"|_}}</li>
        <li class="am-active"><a href="/images/coverlist" >{{"CoverList"|_}}</a></li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="row">
            <form class="am-form">
                <fieldset>
                    <table class="am-table am-table-striped am-table-hover am-table-compact" id="datatable">
                        <thead>
                        <tr>
                            <th>图片</th>
                            <th>类型</th>
                            <th>是否为封面</th>
                            <th>上传时间</th>
                            <th style="width: 17%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if imageList is not empty %}
                        {%for i in imageList%}
                        <tr id="image_{{i['images_id']}}">
                            <td>{%if i['images_path'] is defined%}<a target="_blank" href="{{ i['images_path_source']=='oss' ? ali_path ~ i['images_path'] : i['images_path'] }}"><img src="{{ i['images_path_source']=='oss' ? ali_path ~ i['images_path'] : i['images_path'] }}" height="96" width="54"/></a>{%else%}<img src="/client/crash.png " width="50"/>{%endif%}</td>
                            <td><span class="label {{ i['images_type'] == 'cover' ? 'label-warning' : 'label-info' }}">{{ i['images_type'] == 'cover' ? '封面图' : '轮播图' }}</span></td>
                            <td><span class="label {{ i['images_type'] == 'cover' ? (i['images_main']==1 ? 'label-success' : 'label-danger') : 'label-default' }}">{{ i['images_type'] == 'cover' ? (i['images_main']==1 ? '是' : '否') : '不适用' }}</span></td>
                            <td>{{date('Y-m-d H:i:s', i['images_create_at'])}}</td>
                            <td nowrap>
                                <div class="am-btn-group am-btn-group-xs">
                                    {% if i['images_type'] == 'cover' %}
                                    <button type="button" class="am-btn am-btn-secondary am-radius" onclick="SettingsCover({{i['images_id']}}, {{ i['images_main']==1 ? 0 : 1 }}, '{{ i['images_main']==1 ? "NoSettingsCover"|_ : "SettingsCover"|_ }}')">{{ i['images_main']==1 ? "NoSettingsCover"|_ : "SettingsCover"|_ }}</button>
                                    {% endif %}
                                    {% if i['images_main']!=1 %}
                                    <button type="button" class="am-btn am-btn-danger am-radius" onclick="DeleteImage({{i['images_id']}})">{{"DeleteImage"|_}}</button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {%endfor%}
                        {% endif %}
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/amazeuidatatables/amazeui.datatables.min.js"></script>
    <script type="text/javascript">
        // 封面设置.
        function SettingsCover(images_id, images_main, msg)
        {
            layer.confirm('确认'+msg+'吗?', function (index) {
                $('.layui-layer-btn0').css('pointer-events', 'none');
                layer.close(index);
                $.ajax('/images/coverlist', {
                    type: "POST",
                    dataType: 'JSON',
                    data: {
                        'images_id': images_id,
                        'images_main': images_main
                    },
                    success:function(data){
                        if(data.code == 0) {
                            layer.alert(data.msg, {
                                icon: 1,
                                yes: function () {
                                    location.reload();
                                }
                            });
                        }else{
                            layer.alert(data.msg, {icon: 2});
                        }
                    },
                    error:function(){
                        layer.alert('操作失败，请稍后重试！', {icon: 3});
                    }
                })
            });
        }

        // 删除图片.
        function DeleteImage(images_id)
        {
            layer.confirm('确认删除选择图片吗？', function (index) {
                $('.layui-layer-btn0').css('pointer-events', 'none');
                layer.close(index);
                $.ajax('/images/deleteimage', {
                    type: "POST",
                    dataType: 'JSON',
                    data: {
                        'images_id': images_id,
                    },
                    success:function(data){
                        if(data.code == 0) {
                            layer.alert(data.msg, {
                                icon: 1,
                                yes: function () {
                                    $("#image_"+images_id).remove();
                                    location.reload();
                                }
                            });
                        }else if(data.code == 400){
                            layer.alert(data.data);
                        }else{
                            layer.alert(data.msg, {icon: 2});
                        }
                    },
                    error:function(){
                        layer.alert('操作失败，请稍后重试！', {icon: 3});
                    }
                })
            });
        }

        jQuery(document).ready(function () {
            "use strict";
            $('#datatable').DataTable({
                "iDisplayLength": 10,
                "order": [[ 3, "desc" ]],
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            });
            $('.dataTables_length select').attr('data-am-selected', "{btnWidth: '38%', btnSize: 'sm'}");
            $('.dataTables_filter input').attr("placeholder", "搜索");
        });
    </script>

{% endblock %}